<div class="portletBody">
	<h3>
		$tlang.getString("tool.delete")
	</h3>
	#if ($messageSuccess)<div class="messageSuccess">$tlang.getString("gen.success") $validator.escapeHtml($messageSuccess)</div><div class="clear"></div>#end
	#if ($alertMessage)<div class="alertMessage">$tlang.getString("gen.alert") $validator.escapeHtml($alertMessage)</div><div class="clear"></div>#end
	<form action="#toolForm("")" method="post" name="customizeForm" >
		$formOutput
                <input type="hidden" name="sakai_csrf_token" value="$sakai_csrf_token" />
                <input type="hidden" name="id" value="$tool.get("id")" />
		<p class="act">
 			<input type="submit" accesskey ="d" class="active" name="$doToolAction" 
				value="$tlang.getString('gen.delete')" />
			<input type="submit" accesskey ="x" name="$doCancel" value="$tlang.getString('gen.cancel')" 
 				onclick="location = '$sakai_ActionURL.setPanel("Main")';return false;">
		</p>
	</form>
</div>
