<div class="portletBody">
#if ($messageSuccess)<div class="messageSuccess">$tlang.getString("gen.success") $validator.escapeHtml($messageSuccess)</div><div class="clear"></div>#end
#if ($alertMessage)<div class="alertMessage">$tlang.getString("gen.alert") $validator.escapeHtml($alertMessage)</div><div class="clear"></div>#end
<script type="text/javascript"><!--
setTimeout('window.top.location.reload();', 3000);
// -->
</script>
<h4>$tlang.getString("operation.refreshing")</h4>
</div>
