##
## Standard Header used by all portal views
##
##
<head>
<!-- START from includeStandardHead.vm -->
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta http-equiv="Content-Style-Type" content="text/css" />

<script type="text/javascript" language="JavaScript">
	## SAK-16484 Allow Javascript to easily get at user details.
        ## SAK-13987, SAK-16162, SAK-19132 - Portal Logout Timer
	var portal = { 
		"loggedIn": $!{loggedIn},
		"portalPath": "$!{portalPath}",
		"loggedOutUrl": "$!{loggedOutUrl}",
        "siteId": "$!{siteId}",
		"user": {
			"id": "$!{userId}",
			"eid": "$!{userEid}"
		},
		"timeoutDialog" : {
			"enabled": $!{timeoutDialogEnabled},
			"seconds": $!{timeoutDialogWarningSeconds}
		},
		"toggle" : {
			"allowauto": $!{portal_allow_auto_minimize},
			"tools": $!{portal_allow_minimize_tools},
			"sitenav": $!{portal_allow_minimize_navigation}
		}
	};
</script>

<!-- this causes problems for layout needs investigating -->
    <link href="/portal/styles/portalstyles.css" type="text/css" rel="stylesheet" media="all" />
<!--[if gte IE 5]><![if lt IE 7]>
    <link href="/portal/styles/portalstyles-ie5.css" type="text/css" rel="stylesheet" media="all" />
<![endif]><![endif]-->
<link href="${pageSkinRepo}/${pageSkin}/portal.css" type="text/css" rel="stylesheet" media="all" />


#if (! $currentPlacement && $isPDA )
    <meta name="viewport" content="width=320, user-scalable=no" />
#end
#if ( ${bufferedResponse} && ${responseHead} ) 
<!-- Head material from Tool in PDA mode (will include title and headscripts) -->
${responseHead}
<!-- End of Head material from Tool -->
	#if (  $pageColumn0Tools )
		#foreach ( $tool in $pageColumn0Tools ) 
			#if ( $tool ) 
				#if ( $tool.toolRenderResult ) 
${tool.toolRenderResult.getTitle()}
				#end
			#end
		#end
	#end
	#if ($pageTwoColumn)
		#if (  $pageColumn1Tools )
			#foreach ( $tool in $pageColumn1Tools ) 
				#if ( $tool ) 
					#if ( $tool.toolRenderResult ) 
${tool.toolRenderResult.getTitle()}
					#end
				#end
			#end
		#end
	#end
#else 
    <title>${pageTitle}</title>
${sakai_html_head_css}
     <script type="text/javascript" language="JavaScript" src="${pageScriptPath}headscripts.js"></script>
##   <script type="text/javascript" language="JavaScript" src="${pageScriptPath}jquery.js"></script>
     <script type="text/javascript" language="JavaScript" src="${pageScriptPath}/jquery/1.4.2/jquery-1.4.2.min.js"></script>
     <script type="text/javascript" language="JavaScript" src="${pageScriptPath}/trimpath-template-latest.js"></script>
#end

<script type="text/javascript" language="JavaScript" src="/portal/scripts/neoscripts.js"></script>
#if ( $neoChat && $loggedIn )
<script type="text/javascript" language="JavaScript" src="/portal/scripts/chat.js"></script>
#end
#if ( ${styleable} )
<script type="text/javascript" 
    	language="JavaScript" 
    	src="/sakai-preferable-tool/js/styleable.js" >
    </script>
    
    <script type="text/javascript" 
            language="JavaScript">
    window.onload = insertStyleAbleStyles;
    </script>
    #if ( ${styleableStyleSheet} )
	<style type="text/css" title="StyleAble">${styleableStyleSheet}</style>
    #end
    #if ( ${styleableJS} )
	<script type="text/javascript" language="JavaScript">
	${styleableJS} 
	</script>
    #end
#end
</head>

<!-- END from includeStandardHead.vm -->
