<!-- $Id: chef_assignments_student_view_submission.vm 101707 2011-12-13 20:24:02Z ottenhoff@longsight.com $ -->
<!-- start: chef_assignments_student_view_submission.vm  -->
#parse("/vm/assignment/assignment_macros.vm")
<script type="text/javascript" src="/library/js/jquery.js"></script>
<link href="/sakai-assignment-tool/css/assignment.css" type="text/css" rel="stylesheet" media="all" />
<script type="text/javascript"  src="/sakai-assignment-tool/js/assignments.js"></script>
<script type="text/javascript">
$(document).ready(function(){
    setupToggleAreas('toggleAnchor', 'toggledContent', false, 'fast');
    $('#submissionFileCount').val(1);
    $('#addMoreAttachmentControls').click(function(e){
        e.preventDefault();
        if ($('#submissionFileCount').val() < 5) {
            var $input = $('#clonableUpload').clone().removeAttr('id').addClass('cloned').appendTo('#clonedHolder').children('input');
            $input.val('');
            var $count = $('#submissionFileCount').val();
            var $nameCount = "upload"+$count;
            $input.attr("name", $nameCount);
            $('#submissionFileCount').val(parseInt($('#submissionFileCount').val(), 10) + 1);
            if ($('#submissionFileCount').val() == 5) {
                $('#addMoreAttachmentControls').hide();
                $('#addMoreAttachmentControlsInactive').show();
            }
        }
        $('.cloned a').show();
        resizeFrame('grow');
    });
    
});
var notifyDeleteControl = function(){
    $('#submissionFileCount').val(parseInt($('#submissionFileCount').val(), 10) - 1);
    if ($('#submissionFileCount').val() < 5) {
        $('#addMoreAttachmentControls').show();
        $('#addMoreAttachmentControlsInactive').hide();
    }
};

function submitform(id)
{
	var theForm = document.getElementById(id);
	if(theForm && theForm.onsubmit)
	{
		theForm.onsubmit();
	}
	if(theForm && theForm.submit)
	{
		theForm.submit();
	}
}
		
</script>


<div class="portletBody">
## submission times
	#set($timeReturned=false)
	#set($timeReturned=$submission.TimeReturned)
	#set($timeSubmitted=false)
	#set($timeSubmitted=$submission.TimeSubmitted)
	#set($submitted=false)
	#set($submitted=$submission.getSubmitted())
	#set($returned=false)
	#set($returned=$submission.getReturned())
	#set($closeTime = false)
	#set($closeTime = $assignment.CloseTime)
	#set($allowResubmitNumber="0")
	#set($allowResubmitNumber = $submission.getProperties().getProperty("allow_resubmit_number"))
	#if(!$!allowResubmitNumber.equals("0"))
		#set($allowResubmitCloseTimeString=$submission.getProperties().getProperty("allow_resubmit_closeTime"))
		#if($!allowResubmitCloseTimeString)
			#set($allowResubmitCloseTime=$!TimeService.newTime($!LongObject.parseLong($!allowResubmitCloseTimeString)))
		#end
	#end
	#if ($!submission && $!allowResubmitNumber.equals("0"))
		##override the close time setting for assignment by submission's individual setting
		#set($closeTime = $submission.CloseTime)
	#end
	#set ($submissionType = $assignment.getContent().getTypeOfSubmission())
	#if ($allowSubmit && !$submission && $!closeTime && $currentTime.after($closeTime) )
		<div class="alertMessage">$tlang.getString("stuviewsubm.theclodat")</div><div class="clear"></div>
	#end
	#if ($!canSubmit)
		#if ($alertMessage)<div class="alertMessage">$tlang.getString("gen.alert") $validator.escapeHtml($alertMessage)</div><div class="clear"></div>#end
		#if ($!submission && $timeSubmitted)
			## if there is a submitted submission
			## get the properies
			#if ($!allowAddAssignment)
				<h3>$tlang.getString("viewexampleassign") </h3>
			#else
			<h3>
				#if(!$submitted)
					## draft submission
##					$tlang.getString("viewassign")
					## no need to show status if this is for an non-electronic submission type of assignment
				 #if (!$!nonElectronicType)
##						<span class="highlight">
##						 	- $tlang.getString("gen.inpro")
##						</span>
					#end
				#end
				#if ($!timeReturned && $!timeSubmitted && $!timeReturned.after($!timeSubmitted))
				$validator.escapeHtml($assignment.getTitle())
					<span class="highlight">
						 - $tlang.getString("resubmit")
					</span>
				#end	
				</h3>
			#end
			#if ($returned)
					#if ($!timeSubmitted && $!timeReturned && $!timeReturned.after($!timeSubmitted))
					<p class="instruction">
						$tlang.getString("stuviewsubm.asshasbee4") $submission.TimeReturned.toStringLocalFull(). $tlang.getString("stuviewsubm.plesub")
					</p>	
					#else
					<p class="instruction">
						$tlang.getString("stuviewsubm.asshasbee3") $submission.TimeSubmitted.toStringLocalFull().
						#if ($!timeSubmitted && $!timeSubmitted.after($assignment.DueTime))
							<span class="highlight"> $tlang.getString("gen.late")</span>
						#end
					</p>	
					#end
			#elseif ($submission.getGraded() && ($submission.getGradeReleased() || $returned))
					$tlang.getString("stuviewsubm.asshasbee2")
			#else
					<p class="instruction">$tlang.getString("gen.hasbee") $submission.TimeSubmitted.toStringLocalFull()</p>
					#if ($!timeSubmitted && $!timeSubmitted.after($assignment.DueTime))
						<span class="highlight"> $tlang.getString("gen.late")</span>
					#end
			#end
		#else
			#if ($!allowAddAssignment)
				<h3>$tlang.getString("subexampleassign")</h3>
			#else 
				<h3>$tlang.getString("gen.assig")
					## no need to show status if this is for an non-electronic submission type of assignment
					#if (!$!nonElectronicType)
							<span class="highlight">
						 	- $tlang.getString("gen.inpro")
							</span>
						#end
				</h3>
			#end
			## TEXT_ONLY_ASSIGNMENT_SUBMISSION = 1;
			## ATTACHMENT_ONLY_ASSIGNMENT_SUBMISSION = 2;
			## TEXT_AND_ATTACHMENT_ASSIGNMENT_SUBMISSION = 3;
			## NON_ELECTRONIC_ASSIGNMENT_SUBMISSION = 4;
			## SINGLE_ATTACHMENT_SUBMISSION = 5
			<p class="instruction">
				#if (($submissionType==1) || ($submissionType==3))
					 $tlang.getString("stuviewsubm.asshasnot")
				#elseif ($submissionType==2)
				 	$tlang.getString("stuviewsubm.assattonly")
				#end
			</p>	
		#end
	#end
##		<h4>$tlang.getString("gen.assdet")</h4>
			<table class="itemSummary"  summary="$tlang.getString("gen.theassinf")">
				<tr>
					<th>
						$tlang.getString("gen.title")
					</th>
					<td>
						$validator.escapeHtml($assignment.getTitle())
						#set ($deleted = false)
						#set ($deleted = $assignment.getProperties().getProperty($assignment.getProperties().getNamePropAssignmentDeleted()))
						#if ($!deleted.equalsIgnoreCase("true"))
							<span class="highlight">(Assignment has been deleted)</span>
						#end
					</td>
				</tr>
				<tr>
					<th>
						$tlang.getString("gen.due")
					</th>
					<td>
						$!assignment.getDueTime().toStringLocalFull()
					</td>
				</tr>
				##resubmit number
				#if($!resubmitNumber && !$!resubmitNumber.equals("0") )
					<tr>
						<th>
							$tlang.getString("allow.resubmit.number")
						</th>
						<td>
							$resubmitNumber
						</td>
					</tr>
					## resubmit close time
					<tr>
						<th>
							$tlang.getString("allow.resubmit.closeTime")
						</th>
						<td>
							$resubmitCloseTime
						</td>
					</tr>
				#end
				## no need to show status if this is for an non-electronic submission type of assignment
					#if (!$!nonElectronicType)
				<tr>
					<th>
						$tlang.getString("gen.status")
					</th>
					<td>
						#if ($!submission)
							#if ($submitted && $!timeSubmitted)
								#if ($returned)
									#if ($!timeReturned && $!timeSubmitted && $!timeReturned.after($!timeSubmitted))
										$tlang.getString("gen.retu") $submission.TimeReturned.toStringLocalFull()
									#else
										$tlang.getString("gen.resub") $submission.TimeSubmitted.toStringLocalFull()
										#if ($!timeSubmitted && $!timeSubmitted.after($assignment.DueTime))
											<span class="highlight"> $tlang.getString("gen.late")</span>
										#end
									#end
								#elseif ($submission.getGraded() && $submission.getGradeReleased())
									#if ($!withGrade)
										$tlang.getString("grad3")
									#else
										$tlang.getString("gen.commented")
									#end
								#else
									$tlang.getString("gen.subm4") $submission.timeSubmitted.toStringLocalFull()
									#if ($!timeSubmitted && $!timeSubmitted.after($assignment.DueTime))
										<span class="highlight">$tlang.getString("gen.late2")</span>
									#end
								#end
							#else
								$tlang.getString("gen.inpro")
							#end
						#else
							$tlang.getString("gen.notsta")
						#end
					</td>
				</tr>
				#end				
				#if ($withGrade)
					#set ($gradeScale = $assignment.getContent().getTypeOfGradeString($assignment.getContent().getTypeOfGrade()))
					#if ($submission.getGraded() && $submission.getGradeReleased())
						<tr>	
							<th>
								$tlang.getString("gen.gra")
							</th>
							<td class="highlight">
								<strong>
									#if ($assignment.getContent().TypeOfGrade != 1)
										$submission.GradeDisplay
									#else
										$tlang.getString("gen.nograd")
									#end
									#if ($gradeTypeTable.get($assignment.getContent().getTypeOfGrade()) == $!tlang.getString("points"))
										($tlang.getString("grade.max") $assignment.getContent().getMaxGradePointDisplay())
									#end
								</strong>
							</td>
						</tr>
					#else
						<tr>	
							<th>
								$tlang.getString("gen.grasca")
							</th>
							<td>
								$gradeScale
								#if ($gradeTypeTable.get($assignment.getContent().getTypeOfGrade()) == $!tlang.getString("points"))
									($tlang.getString("grade.max") $assignment.getContent().getMaxGradePointDisplay())
								#end
							</td>
						</tr>
					#end
				#end
				##show alert when assignment is modified and the modified date is after its open date	
				#set($newAssignment="false")
				#set($newAssignment=$assignment.getProperties().getProperty("newAssignment"))
				#if ($assignment.getTimeLastModified().after($assignment.getOpenTime()) && !$!newAssignment.equalsIgnoreCase("true"))
					<tr>
						<th>
								$tlang.getString("gen.modbyins")
						</th>
						<td>
							$assignment.getTimeLastModified().toStringLocalFull()
						</td>
					</tr>
				#end
				#if($!submitted && $!timeSubmitted && $allowReviewService && $assignment.getContent().AllowReviewService && $assignment.getContent().AllowStudentViewReport)
					<tr>
						<th>
							$tlang.getString("review.report")
						</th>
							<td>
							#if ($submission.getReviewReport().equalsIgnoreCase("Error"))
								<div class="alertMessage" >$!submission.getReviewError()</div>
							#else
								<img src="$submission.getReviewIconUrl()" alt="$submission.getReviewScore()">
							
								<a href="$submission.getReviewReport()" target="_blank">$tlang.getString("review.viewreport")</a>
							#end
							</td>
				
					</tr>
				#end
			</table>
		<h4>
			$tlang.getString("gen.instr")
		</h4>
		
		#if ($!assignment.getContent().getInstructions().length()>0)
			<div class="textPanel">$validator.escapeHtmlFormattedText($!assignment.getContent().getInstructions())</div>
		#end
		## assignment attachment
		#set ($size = 0)
		#set ($props = false)
		#foreach ($attachment in $assignment.getContent().getAttachments()) 
			#set ($props = $attachment.Properties) 
			#if ($!props)
				#set ($size = $size + 1)
			#end
		#end
		#if ($size > 0)
			<h4>
				$tlang.getString("gen.addres2")
			</h4>	
				<ul class="attachList indnt1">
					#foreach ($attachment in $assignment.getContent().getAttachments()) 
						#set ($props = false)
						#set ($props = $attachment.Properties) 
						#if ($!props)
							<li>
								#if ($props.getBooleanProperty($props.NamePropIsCollection))
									<img src = "#imageLink($contentTypeImageService.getContentTypeImage("folder"))" border="0" alt="$tlang.getString("gen.folatt")" />
								#else
									<img src = "#imageLink($contentTypeImageService.getContentTypeImage($props.getProperty($props.NamePropContentType)))" border="0" alt="$tlang.getString("gen.filatt")" />
								#end
									<a href="$attachment.Url" target="_blank">$validator.escapeHtml($props.getPropertyFormatted($props.NamePropDisplayName))</a>						
								#propertyDetails($props)
							</li>
						#end
					#end
				</ul>
				##end
		#end
			## model answer
			#if($allowViewModelAnswer)
			<h4  id="toggleModel" class="toggleAnchor specialLink"><img alt="expand" class="expand" src="/library/image/sakai/expand.gif" /><img alt="collapse" class="collapse" src="/library/image/sakai/collapse.gif" />$tlang.getString('modelAnswer')</h4>
			<div class="toggledContent model">
				<p>$validator.escapeHtml($!assignmentModelAnswerItem.getText())</p>
					#set ($mAttachments = $!assignmentModelAnswerItem.getAttachmentObjectSet())
						<ul class="attachList">
							#set ($size = 0)
							#set ($props = false)
							#foreach ($attachment in $!mAttachments) 
								#set ($props = $attachment.Properties) 
								#if ($!props)
									#set ($size = $size + 1)
								#end
							#end
							#if ($size == 0)
								<p class="instruction">$tlang.getString("gen.noatt")</p>
							#else
								#foreach ($attachment in $mAttachments)
									#set ($props = false)
									#set ($props = $attachment.Properties) 
									#if ($!props)
									<li>
										#if ($props.getBooleanProperty($props.NamePropIsCollection))
											<img src = "#imageLink($contentTypeImageService.getContentTypeImage("folder"))" border="0" alt="$tlang.getString("gen.folatt")" />
										#else
											<img src = "#imageLink($contentTypeImageService.getContentTypeImage($props.getProperty($props.NamePropContentType)))" border="0" alt="$tlang.getString("gen.filatt")" />
										#end
										<a href="$attachment.Url" target="_blank">$validator.escapeHtml($props.getPropertyFormatted($props.NamePropDisplayName))</a>						
										#propertyDetails($props)
									</li>
									#end
							#end
					#end
					</ul>
				</div>
			#end
			#if ($!allowReadAssignmentNoteItem)
				<h4  id="toggleNotes" class="toggleAnchor specialLink"><img alt="expand" class="expand" src="/library/image/sakai/expand.gif" /><img alt="collapse" class="collapse" src="/library/image/sakai/collapse.gif" />$tlang.getString('note.label')</h4>
				<div class="toggledContent notes">
					$validator.escapeHtml($!assignmentNoteItem.getNote())
				</div>
			#end
			##all purpose
			#if ($!allowViewAllPurposeItem)
			<h4  id="toggleAllPurpose" class="toggleAnchor specialLink"><img alt="expand" class="expand" src="/library/image/sakai/expand.gif" /><img alt="collapse" class="collapse" src="/library/image/sakai/collapse.gif" />$tlang.getString('allPurpose')</h4>
			<div class="toggledContent allPurpose">
					<p>$validator.escapeHtml($!assignmentAllPurposeItem.getTitle())</p>
					<p>$validator.escapeHtml($!assignmentAllPurposeItem.getText())</p>
					#set ($aAttachments = $!assignmentAllPurposeItem.getAttachmentObjectSet())
						<ul class="attachList">
							#set ($size = 0)
							#set ($props = false)
							#foreach ($attachment in $!aAttachments) 
								#set ($props = $attachment.Properties) 
								#if ($!props)
									#set ($size = $size + 1)
								#end
							#end
							#if ($size == 0)
								<p class="instruction">$tlang.getString("gen.noatt")</p>
							#else
								#foreach ($attachment in $aAttachments)
									#set ($props = false)
									#set ($props = $attachment.Properties) 
									#if ($!props)
									<li>
										#if ($props.getBooleanProperty($props.NamePropIsCollection))
											<img src = "#imageLink($contentTypeImageService.getContentTypeImage("folder"))" border="0" alt="$tlang.getString("gen.folatt")" />
										#else
											<img src = "#imageLink($contentTypeImageService.getContentTypeImage($props.getProperty($props.NamePropContentType)))" border="0" alt="$tlang.getString("gen.filatt")" />
										#end
										<a href="$attachment.Url" target="_blank">$validator.escapeHtml($props.getPropertyFormatted($props.NamePropDisplayName))</a>						
										#propertyDetails($props)
									</li>
									#end
							#end
					#end
					</ul>
				</div>
			#end
		#if ($taggable)
        	#parse ("/vm/assignment/chef_assignments_tags_list.vm")
		#end
		<hr class="itemSeparator" />
		#if ($returned)
			<h3>$tlang.getString("gen.resubmission")</h3> 
		#else
				<h3>$tlang.getString("gen.submission")</h3> 
		#end	



		## show special instruction if this is for an non-electronic submission type of assignment
		#if ($!nonElectronicType)
			<p class="instruction">
				$tlang.getString("nonelec_instruction")
			</p>
			## show feedbacks if any
			#if ($returned && $!timeReturned)
					#if (($!submission.FeedbackComment) && ($submission.FeedbackComment.trim().length()>0))
						#if ($submissionType==2)
							<h3>$tlang.getString("gen.addinst2")</h3>
						#else
							<h3>$tlang.getString("gen.addinst")</h3>
						#end	
							<div class="textPanel">$validator.escapeHtmlFormattedText($submission.FeedbackComment)</div>
						#else
					#end
					## for returned (not resubmitted ) submission, show the instructor feedback
					#if ($!prevFeedbackComment && $!prevFeedbackComment.trim().length() > 0)
							<h4  id="toggleGen" class="toggleAnchor"><img alt="expand" class="expand" src="/library/image/sakai/expand.gif" /><img alt="collapse" class="collapse" src="/library/image/sakai/collapse.gif" />
								$tlang.getString("gradingsub.prefee2")
								</h4>
					<div class="toggledContent gencoms">					
						$cheffeedbackhelper.showPrevFeedback($cheffeedbackhelper.escapeAssignmentFeedback($!prevFeedbackComment))</div>
					#end					
					#set ($size = 0)
					#set ($props = false)
					#set ($feedbackAttachments = $submission.FeedbackAttachments)	
					#set ($size = 0)
					#set ($props = false)
					#foreach ($attachment in $feedbackAttachments) 
						#set ($props = $attachment.Properties) 
						#if ($!props)
							#set ($size = $size + 1)
						#end
					#end
					#if ($size == 0)
						##$tlang.getString("gen.noatt")
					#else
						<h4>$tlang.getString("gen.addinstatts")</h4>
						<ul class="attachList indnt1">
							#foreach ($attachment in $feedbackAttachments) 
								#set ($props = false)
								#set ($props = $attachment.Properties) 
								#if ($!props)
									<li>
										#if ($props.getBooleanProperty($props.NamePropIsCollection))
											<img src = "#imageLink($contentTypeImageService.getContentTypeImage("folder"))" border="0" alt="$tlang.getString("gen.folatt")" />
										#else
											<img src = "#imageLink($contentTypeImageService.getContentTypeImage($props.getProperty($props.NamePropContentType)))" border="0" alt="$tlang.getString("gen.filatt")" />
										#end
										<a href="$attachment.Url" target="_blank">$validator.escapeHtml($props.getPropertyFormatted($props.NamePropDisplayName))</a>						
										#propertyDetails($props)
									</li>
								#end
							#end
						</ul>
					#end
			#end
			##just show a simple done button for non-electronic submission type
			<form name="dummyForm" action="#toolForm("AssignmentAction")" method="post" onsubmit="return true;">
				<input type="submit" accesskey="x" name="eventSubmit_doCancel_show_submission" value="$tlang.getString('gen.don')" />
				<input type="hidden" name="sakai_csrf_token" value="$sakai_csrf_token" />
			</form>
		#else
	<form name="addSubmissionForm" id="addSubmissionForm" action="#toolForm("AssignmentAction")" method="post" onsubmit="return true;" enctype="multipart/form-data">
		<input type="hidden" name="eventSubmit_doRead_add_submission_form" value="x" />
		<input type="hidden" name="option" id="option" value="cancel" />
		<input type="hidden" name="currentAttachment" value="" />
		<input type="hidden" name="assignmentId" value="$assignment.Reference" />
		#if ($!canSubmit)
			## if a draft submission or the submission has been returned and has not yet submitted
			## 1- text only; 2-attachment only; 3-text and attachment
			#set ( $submissionType = $assignment.getContent().getTypeOfSubmission())
			#if (($submissionType==1) || ($submissionType==3))
				#if ($!deleted.equalsIgnoreCase("true"))
					<h4>$tlang.getString("gen.yousub") </h4>
					##if the assignment has been deleted, disable the action button
					$validator.escapeHtmlFormattedText($!value_submission_text)
				#else
					#*
					#if (!$submitted || ($submitted && !$timeSubmitted))
						## for draft submission
						#if ($!closeTime && $currentTime.after($closeTime))
							##disable input for submitted and not returned submission or when later than assignment close date
							##<h4>$tlang.getString("gen.yousub")</h4>
							$validator.escapeHtmlFormattedText($!value_submission_text)
						#else*#
							#if ($!allowAddAssignment && $!allowSubmitByInstructor && $!student) 
							<h4>$tlang.getString("submitforstudent")</h4>
							<p class="instruction">
								$student.getDisplayName()
								<input type="hidden" name="submit_on_behalf_of" id="submit_on_behalf_of" value="$student.id" />		
							</p>
							#end
							<h4>$tlang.getString("assignmenttext")</h4>
							<p class="instruction">
							#if ($returned)
									$tlang.getString("stuviewsubm.entbelo")
							#else
								#if ($submissionType==1)
									$tlang.getString("gen.theassall6")
								#elseif ($submissionType==3)
									$tlang.getString("gen.theassall4")
								#end
							#end
							</p>
							<table border="0">
								<tr>
									<td>
										<textarea cols="80" rows="30" wrap="virtual" name="$name_submission_text" id="$name_submission_text" #if(!$allowSubmit)disabled="disabled"#end >#if($!value_submission_text)$validator.escapeHtmlFormattedTextarea($!value_submission_text)#end</textarea>						
											#chef_setupformattedtextarea($name_submission_text)
									</td>
								</tr>
							</table>
						## feedback text
						#set($feedbackText = false)
						#set($feedbackText = $submission.FeedbackText)
						#if ($!feedbackText && $feedbackText.length()>0)
							#if ($!prevFeedbackText)
								<h3>$tlang.getString("gen.orisub3")</h3>							
							#else
								<h3>$tlang.getString("gen.orisub2")</h3>
							#end
						<div class="textPanel">
							$cheffeedbackhelper.escapeAssignmentFeedback($feedbackText)
						</div>
						#end
						## for returned submission, show the instructor commented text as well
						#if ($!prevFeedbackText)
							<h4 id="toggleInline" class="toggleAnchor"><img alt="expand" class="expand" src="/library/image/sakai/expand.gif" /><img alt="collapse" class="collapse" src="/library/image/sakai/collapse.gif" />$tlang.getString("gradingsub.prefeetex3")</h4>
							<div class="toggledContent inlinecoms">
								$cheffeedbackhelper.showPrevFeedback($cheffeedbackhelper.escapeAssignmentFeedback($!prevFeedbackText))
							</div>
						#end
						#*#else
							## for resubmitted submission, show the input disabled
							<div>
								$tlang.getString("gen.yousub")
							</div>
							$validator.escapeHtmlFormattedText($!value_submission_text)
						#end							
					#end*#
				#end
			#end
			#if (($submissionType==2) || ($submissionType==3) || ($submissionType==5)) 
				#if ($submissionType==2)
					<p class="instruction">
						#if (($submitted && !$returned) || ($returned && $!timeReturned && $!timeSubmitted && $!timeReturned.before($!timeSubmitted)) || ($!closeTime && $currentTime.after($closeTime)))
							## for submitted not yet returned submission; or returned by resubmitted submission; or after close date
							$tlang.getString("stuviewsubm.youatt")
						#else
							$tlang.getString("stuviewsubm.theassall2")
						#end
					</p>
				#end	
				<div class="highlightPanel" style="background:#ffe">
					<h3 style="margin-top:0;margin-bottom:.5em">
						$tlang.getString("gen.att")
					</h3>	
					#set ($size = 0)
					#set ($props = false)
					#foreach ($attachment in $attachments) 
						#set ($props = $attachment.Properties) 
						#if ($!props)
							#set ($size = $size + 1)
						#end
					#end
					#if ($size == 0)
						<p class="instruction">$tlang.getString("gen.noatt")</p>
					#else
						<table class="attachList listHier indnt1 centerLines" style="margin-bottom:.5em;margin-top:0; width:auto" summary="$tlang.getString("stuviewsubm.listsummary")">
							#foreach ($attachment in $attachments) 
								#set ($props = false)
								#set ($props = $attachment.Properties) 
								#if ($!props)
									<tr>
										<td>
											#if ($props.getBooleanProperty($props.NamePropIsCollection))
												<img src = "#imageLink($contentTypeImageService.getContentTypeImage("folder"))" border="0" alt="$tlang.getString("gen.folatt")" />
											#else
												<img src = "#imageLink($contentTypeImageService.getContentTypeImage($props.getProperty($props.NamePropContentType)))" border="0" alt="$tlang.getString("gen.filatt")" />
											#end
											<a href="$attachment.Url" target="_blank">$validator.escapeHtml($props.getPropertyFormatted($props.NamePropDisplayName))</a>						
										</td>
										<td>
											#propertyDetails($props)
										</td>
										<td class="itemAction">
											<a href="#" onclick="document.addSubmissionForm.onsubmit();document.addSubmissionForm.option.value='removeAttachment'; document.addSubmissionForm.currentAttachment.value='$attachment.id'; document.addSubmissionForm.submit(); return false;">
												$tlang.getString("stuviewsubm.removeatt")<span class="skip"> $validator.escapeHtml($props.getPropertyFormatted($props.NamePropDisplayName))</span>
											</a>
										</td>
									</tr>
								#end
							#end
						</table>
					#end
					#if (($submissionType==2) || ($submissionType==3))
						<div class="highlightPanel specialLink" style="margin:0;padding-bottom:.5em;background:#fff">
							#if ($!deleted.equalsIgnoreCase("true")) 	 
		    					##if the assignment has been deleted, disable the action button 	 
		     					<input type="submit" name="eventSubmit_doAttachments" value="Attachment" accesskey="a" disabled="disabled" /> 	 
		     				#else
								#if ($!canSubmit)
									#if ($size==0) 
										#set($howManySubAtts=$tlang.getString("stuviewsubm.attfromcomputerlabel"))
										#set($howManySubAttsLinks=$tlang.getString("stuviewsubm.attfromserverlabel"))
									#else
										#set($howManySubAtts=$tlang.getString("stuviewsubm.attfromcomputerlabelmore"))
										#set($howManySubAttsLinks=$tlang.getString("stuviewsubm.attfromserverlabelmore"))
									#end
									<input type="hidden" name="submissionFileCount" id="submissionFileCount" value="1"/>
									<table border="0" cellpadding="0" cellspacing="0" class="listHier  centerLines" style="width:auto;margin:0">
										<tr>
											<td>
												<span>$howManySubAtts</span>
											</td>
											<td>
												<div id="clonableUpload"> 
													<input type="file" name="upload" class="upload" id="clonableUpload" onchange="javascript:showNotif('submitnotifxxx','post','addSubmissionForm');document.getElementById('addSubmissionForm').action='#toolLinkParam("AssignmentAction" "doAttachUpload" "")';submitform('addSubmissionForm');""/> 
													<span id="submitnotifxxx" class="messageProgress" style="visibility:hidden">Uploading file</span>
												</div>
											</td>
											<td>
												<span class="navIntraToolLink">
													<input
														class="disableme enabled" 
														type="button" 
														value="$howManySubAttsLinks"
														name="attach" 
														id="attach"
														accesskey="a" #if(!$allowSubmit) disabled="disabled"#end
														onclick="document.addSubmissionForm.onsubmit();document.addSubmissionForm.option.value='attach'; document.addSubmissionForm.submit(); return false;"
													/>
												</span>	
											</td>
										</tr>	
										<tr>
											<td></td>
											<td id="clonedHolder"></td>
											<td></td>
											<td></td>										
											</tr>
									</table>	
									
								#end
							#end
						</div>
					#end
					## for single file upload case
					#if ($submissionType==5 && $attachments && $attachments.size() == 0)
						<div class="highlightPanel">
							<p class="shorttext">
								<label for="upload">$tlang.getString("att.upl")</label>
								<input type="file" name="upload" class="upload" id="clonableUpload" onchange="javascript:showNotif('submitnotifxxx','post','addSubmissionForm');document.getElementById('addSubmissionForm').action='#toolLinkParam("AssignmentAction" "doAttachUploadSingle" "")';submitform('addSubmissionForm');"/> 
								<span id="submitnotifxxx" class="messageProgress" style="visibility:hidden">$tlang.getString("processmessage.file")</span>
								<input type="hidden" name="submissionFileCount" id="submissionFileCount" value="1"/>
							</p>	
				 		</div>
					#end
				#end
				</div>
				
				#if ($returned && $!timeReturned && ($!timeSubmitted && $!timeReturned && $!timeReturned.after($!timeSubmitted) || !$!timeSubmitted))
					#if (($!submission.FeedbackComment) && ($submission.FeedbackComment.trim().length()>0))
						#if ($submissionType==2)
							<h3>$tlang.getString("gen.addinst2")</h3>
						#else
							<h3>$tlang.getString("gen.addinst")</h3>
						#end	
							<div class="textPanel">$validator.escapeHtmlFormattedText($submission.FeedbackComment)</div>
						#else
					#end
					## for returned (not resubmitted ) submission, show the instructor feedback
					#if ($!prevFeedbackComment && $!prevFeedbackComment.trim().length() > 0)
							<h4  id="toggleGen" class="toggleAnchor"><img alt="expand" class="expand" src="/library/image/sakai/expand.gif" /><img alt="collapse" class="collapse" src="/library/image/sakai/collapse.gif" />
								$tlang.getString("gradingsub.prefee2")
								</h4>
					<div class="toggledContent gencoms">					
						$cheffeedbackhelper.showPrevFeedback($cheffeedbackhelper.escapeAssignmentFeedback($!prevFeedbackComment))</div>
					#end					
					#set ($size = 0)
					#set ($props = false)
					#set ($feedbackAttachments = $submission.FeedbackAttachments)	
					#set ($size = 0)
					#set ($props = false)
					#foreach ($attachment in $feedbackAttachments) 
						#set ($props = $attachment.Properties) 
						#if ($!props)
							#set ($size = $size + 1)
						#end
					#end
					#if ($size == 0)
						##$tlang.getString("gen.noatt")
					#else
						<h4>$tlang.getString("gen.addinstatts")</h4>
						<ul class="attachList indnt1">
							#foreach ($attachment in $feedbackAttachments) 
								#set ($props = false)
								#set ($props = $attachment.Properties) 
								#if ($!props)
									<li>
										#if ($props.getBooleanProperty($props.NamePropIsCollection))
											<img src = "#imageLink($contentTypeImageService.getContentTypeImage("folder"))" border="0" alt="$tlang.getString("gen.folatt")" />
										#else
											<img src = "#imageLink($contentTypeImageService.getContentTypeImage($props.getProperty($props.NamePropContentType)))" border="0" alt="$tlang.getString("gen.filatt")" />
										#end
										<a href="$attachment.Url" target="_blank">$validator.escapeHtml($props.getPropertyFormatted($props.NamePropDisplayName))</a>						
										#propertyDetails($props)
									</li>
								#end
							#end
						</ul>
					#end
					## show previous grading/feedback attachments if any
					#if ($!prevFeedbackAttachments && $prevFeedbackAttachments.size()>0)
						## show previous grading/feedback attachments if any
						<h4 id="toggleAttach" class="toggleAnchor"><img alt="expand" class="expand" src="/library/image/sakai/expand.gif" /><img alt="collapse" class="collapse" src="/library/image/sakai/collapse.gif" />
							$tlang.getString("gradingsub.prefeedbackAttachments")
						</h4>
						<div class="attachcoms  toggledContent">
						#set ($size = 0)
						#set ($props = false)
						#foreach ($attachment in $!prevFeedbackAttachments) 
							#set ($props = $attachment.Properties) 
							#if ($!props)
								#set ($size = $size + 1)
							#end
						#end
						#if ($size == 0)
							<p class="instruction">$tlang.getString("gen.noatt")</p>
						#else
							<ul class="attachList indnt1">
								#foreach ($attachment in $!prevFeedbackAttachments) 
									#set ($props = false)
									#set ($props = $attachment.Properties) 
									#if ($!props)
										<li>
											#if ($props.getBooleanProperty($props.NamePropIsCollection))
												<img src = "#imageLink($contentTypeImageService.getContentTypeImage("folder"))" border="0" alt="$tlang.getString("gen.folatt")" />
											#else
												<img src = "#imageLink($contentTypeImageService.getContentTypeImage($props.getProperty($props.NamePropContentType)))" border="0" alt="$tlang.getString("gen.filatt")" />
											#end
											<a href="$attachment.Url" target="_blank">$validator.escapeHtml($props.getPropertyFormatted($props.NamePropDisplayName))</a>						
											#propertyDetails($props)
										</li>
									#end
								#end
							</ul>
						#end	
					#end
					</div>	
				#end
				#if ($withGrade)
					#set ($previousGrades =  $!submission.Properties.getProperty($!submission.Properties.getNamePropSubmissionScaledPreviousGrades()))
					#if ($!previousGrades.length() == 0 )
						#set ($previousGrades =  $!submission.Properties.getProperty($!submission.Properties.getNamePropSubmissionPreviousGrades()))
					#end
					#if ($!previousGrades.length() > 0 )
						<h4 id="toggleGrade" class="toggleAnchor"><img alt="expand" class="expand" src="/library/image/sakai/expand.gif" /><img alt="collapse" class="collapse" src="/library/image/sakai/collapse.gif" />
							$tlang.getString("gradingsub.pregra")
						</h4>
						<div class="gradecoms  toggledContent">		
							$!previousGrades.length()$!previousGrades
						</div>
					#end
				#end
				#if ($!assignment.getContent().HonorPledge!=1)
					<p class="checkbox highlightPanel">
						<label for="$name_submission_honor_pledge_yes">
							$honor_pledge_text
						</label>
						#if (!$!canSubmit)
							## for submitted submission not yet returned; or returned but resubmitted submission; or after the close time
							#if ($value_submission_honor_pledge_yes.equals("false"))
								<input id="$name_submission_honor_pledge_yes" type="checkbox" name="$name_submission_honor_pledge_yes" value="true" disabled="disabled" />
							#else
								<input id="$name_submission_honor_pledge_yes" name="$name_submission_honor_pledge_yes" type="checkbox" value="true" disabled="disabled" checked="checked" />
							#end
						#else
							#if ($value_submission_honor_pledge_yes.equals("false"))
								<input id="$name_submission_honor_pledge_yes" type="checkbox" name="$name_submission_honor_pledge_yes" value="true" />
							#else
								<input id="$name_submission_honor_pledge_yes" name="$name_submission_honor_pledge_yes" type="checkbox" value="true" checked="checked" />
							#end					
						#end
						<br />
						$tlang.getString("gen.youmus")
					</p>
				#end
				<div
					#if ($!deleted.equalsIgnoreCase("true") || !$!canSubmit)
					 class="act">
						<input 
							type="button" 
							name="cancel"
							accesskey="x"
							id="cancel" 
							value="$tlang.getString("gen.don")"
							onclick="document.addSubmissionForm.onsubmit();document.addSubmissionForm.option.value='cancel'; document.addSubmissionForm.submit(); return false;"
						/>
					#else
					 class="act messageInformation">
							<input
								type="button"
								class="active"
								#if ($submitted && $!timeSubmitted)
									#set($name=$tlang.getString("resubmit"))
								#else
									#set($name=$tlang.getString("gen.subm3"))
								#end
								name="post"
								accesskey="s"
								id="post" 
								value="$!name"
								onclick="document.addSubmissionForm.onsubmit();showNotif('submitnotif','post','addSubmissionForm'); document.addSubmissionForm.option.value='post'; document.addSubmissionForm.submit(); return false;"
							/>
					## for single file upload case, no need for preview or save draft
					#if ($submissionType!=5)
							<input
								class="disableme" 
								type="button" 
								name="preview" 
								accesskey="v"
								id="preview" 
								value="$tlang.getString("gen.pre")"
								onclick="document.addSubmissionForm.onsubmit();showNotif('submitnotif','preview','addSubmissionForm');document.addSubmissionForm.option.value='preview'; document.addSubmissionForm.submit(); return false;"
							/>
							<input
								class="disableme" 
								type="button" 
								name="save" 
								accesskey="d"
								id="save" 
								value="$tlang.getString("gen.savdra")"
								onclick="document.addSubmissionForm.onsubmit();showNotif('submitnotif','save','addSubmissionForm');document.addSubmissionForm.option.value='save'; document.addSubmissionForm.submit(); return false;"
							/>
							#end
							<input 
								class="disableme"
								type="button" 
								name="cancel"
								accesskey="x"
								id="cancel" 
								value="$tlang.getString("gen.can")"
								onclick="document.addSubmissionForm.onsubmit();document.addSubmissionForm.option.value='cancel'; document.addSubmissionForm.submit(); return false;"
							/>
							<span class="messageInformation">$tlang.getString("stuviewsubm.submitreminder")</span>
					#end
				<span id="submitnotif" style="visibility:hidden">$tlang.getString("gen.proces")</span>
			</div>
		#else
				#if ($submission.getGradeReleased() && $!submission.FeedbackText && ($submission.FeedbackText.length()>0))
					#set ($text = $submission.FeedbackText)
					#if ($!text)
						<p class="instruction">
							$tlang.getString("gen.orisub2")
						</p>
						<div class="textPanel">$cheffeedbackhelper.escapeAssignmentFeedback($text)</div>
					#end
				#elseif ($!submission.submittedText && ($submission.SubmittedText.length()>0))
					#set ($text = $submission.SubmittedText)
					#if ($!text)
						<div class="textPanel">$cheffeedbackhelper.escapeAssignmentFeedback($text)</div>
					#end
				#end
				## for returned submission, show the instructor comment as well
				#if ($!prevFeedbackText)
					<h5>$tlang.getString("gradingsub.prefeetex")</h5>
					<div class="textPanel">
						$cheffeedbackhelper.showPrevFeedback($cheffeedbackhelper.escapeAssignmentFeedback($!prevFeedbackText))
					</div>
				#end
				## submitted attachment
				#set ($submittedAttachments = $submission.SubmittedAttachments)
				#set ($size = 0)
				#set ($props = false)
				#foreach ($attachment in $submittedAttachments) 
					#set ($props = $attachment.Properties) 
					#if ($!props)
						#set ($size = $size + 1)
				 #end
				#end
				#if ($size == 0)
					$tlang.getString("gen.noatt")
				#else
					<h5>$tlang.getString("gen.stuatt")</h5>
					<ul class="attachList indnt1">
						#foreach ($attachment in $submittedAttachments) 
							#set ($props = false)
							#set ($props = $attachment.Properties) 
							#if ($!props)
								<li>
									#if ($props.getBooleanProperty($props.NamePropIsCollection))
										<img src = "#imageLink($contentTypeImageService.getContentTypeImage("folder"))" border="0" alt="$tlang.getString("gen.folatt")" />
									#else
										<img src = "#imageLink($contentTypeImageService.getContentTypeImage($props.getProperty($props.NamePropContentType)))" border="0" alt="$tlang.getString("gen.filatt")" />
									#end
									<a href="$attachment.Url" target="_blank">$validator.escapeHtml($props.getPropertyFormatted($props.NamePropDisplayName))</a>						
									#propertyDetails($props)
								</li>
							#end
						#end
					</ul>
				#end	
				#if ($withGrade && $submission.getGraded() && $submission.getGradeReleased())
					#if ($submission.getGradeReleased() &&($!submission.FeedbackComment) && ($submission.FeedbackComment.trim().length()>0))
						<h5>$tlang.getString("gen.addinst")</h5>
						<div>$validator.escapeHtmlFormattedText($submission.FeedbackComment)</div>
					#else
					#end
					## for returned submission, show the instructor feedback
					#if ($!prevFeedbackComment && $!prevFeedbackComment.trim().length() > 0)
						<h5>$tlang.getString("gradingsub.prefee")</h5>
						<div class="textPanel">$cheffeedbackhelper.showPrevFeedback($cheffeedbackhelper.escapeAssignmentFeedback($!prevFeedbackComment))</div>
					#end	
					#set ($size = 0)
					#set ($props = false)
					#set ($feedbackAttachments = $submission.FeedbackAttachments)
					#set ($size = 0)
					#set ($props = false)
					#foreach ($attachment in $feedbackAttachments) 
						#set ($props = $attachment.Properties) 
						#if ($!props)
							#set ($size = $size + 1)
						#end
					#end
					#if ($size == 0)
						##$tlang.getString("gen.noatt")
					#else
						<h5>$tlang.getString("gen.addinst")</h5>
						<ul class="attachList indnt1">
									#foreach ($attachment in $feedbackAttachments) 
										#set ($props = false)
										#set ($props = $attachment.Properties) 
										#if ($!props)
											<li>
												#if ($props.getBooleanProperty($props.NamePropIsCollection))
													<img src = "#imageLink($contentTypeImageService.getContentTypeImage("folder"))" border="0" alt="$tlang.getString("gen.folatt")" />
												#else
													<img src = "#imageLink($contentTypeImageService.getContentTypeImage($props.getProperty($props.NamePropContentType)))" border="0" alt="$tlang.getString("gen.filatt")" />
												#end
												<a href="$attachment.Url" target="_blank">$validator.escapeHtml($props.getPropertyFormatted($props.NamePropDisplayName))</a>						
												#propertyDetails($props)
											</li>
										#end
									#end
							</ul>
							#end
					#end
					#if ($withGrade)
						#set ($previousGrades =  $!submission.Properties.getProperty($!submission.Properties.getNamePropSubmissionScaledPreviousGrades()))
						#if ($!previousGrades.length() == 0 )
							#set ($previousGrades =  $!submission.Properties.getProperty($!submission.Properties.getNamePropSubmissionPreviousGrades()))
						#end
						#if ($!previousGrades.length() > 0 )
							<h4 id="toggleGrade" class="toggleAnchor"><img alt="expand" class="expand" src="/library/image/sakai/expand.gif" /><img alt="collapse" class="collapse" src="/library/image/sakai/collapse.gif" />
								$tlang.getString("gradingsub.pregra")
							</h4>
							<div class="gradecoms  toggledContent">		
								$!previousGrades.length()$!previousGrades
							</div>
						#end
					#end
			<p class="act">
				<input 
					type="button" 
					name="cancel"
					accesskey="x"
					id="cancel" 
					value="$tlang.getString("gen.don")"
					onclick="document.addSubmissionForm.onsubmit();document.addSubmissionForm.option.value='cancel'; document.addSubmissionForm.submit(); return false;"
				/>
			</p>
		#end
		<input type="hidden" name="sakai_csrf_token" value="$sakai_csrf_token" />
	</form>
	#end
</div>
<!-- end: chef_assignments_student_view_submission.vm  -->
