<!-- $Id: chef_assignments_instructor_view_assignment.vm 101707 2011-12-13 20:24:02Z ottenhoff@longsight.com $ -->
<!-- start: chef_assignments_instructor_view_assignment.vm  -->
#parse("/vm/assignment/assignment_macros.vm")
<div class="portletBody" xmlns:wairole="http://www.w3.org/2005/01/wai-rdf/GUIRoleTaxonomy#"  xmlns:aaa="http://www.w3.org/2005/07/aaa">
	#if ($taggable && $allowAddAssignment)
		#if (!$activityHelpers.isEmpty())
		<ul class="navIntraTool actionToolBar" role="menu">
				#set ($first = true)
				#foreach ($helperInfo in $activityHelpers)
					#if (!$first)
					<li  class="firstToolBarItem" role="menuitem">
						<span><a href="#toolLinkParam("$action" "doHelp_activity" "activityRef=$validator.escapeUrl($activity.reference)&providerId=$validator.escapeUrl($helperInfo.provider.id)")" title="$!helperInfo.description">$!helperInfo.name</a></span>
					</li>	
					#else
						#set ($first = false)
						<li role="menuitem">						
							<span><a href="#toolLinkParam("$action" "doHelp_activity" "activityRef=$validator.escapeUrl($activity.reference)&providerId=$validator.escapeUrl($helperInfo.provider.id)")" title="$!helperInfo.description">$!helperInfo.name</a></span>
						</li>	
					#end
				#end
			</ul
		#end
	#end
	<h3>
		$tlang.getString("viewassig.viewass1")
	</h3>
	#if ($alertMessage)<div class="alertMessage">$tlang.getString("gen.alert") $validator.escapeHtml($alertMessage)</div><div class="clear"></div>#end
		#if ($allowAddAssignment && !$hideAssignmentFlag)
		## show assignment content
		<p class="discTria">
			<a href="#" onclick="location='#toolLink("AssignmentAction" "doHide_view_assignment")'; return false;" title="$tlang.getString("gen.hidassinf")">
				<img src="#imageLink("sakai/collapse.gif")" alt="$tlang.getString("gen.open")" border="0" width="13" height="13" />
			</a>
			 $tlang.getString("gen.settfor") "$validator.escapeHtml($assignment.title)"
		</p>
		<table class="itemSummary" border="0" summary="$tlang.getString("gen.viewasstablesummary")">
			<tr>
				<th>	
					$tlang.getString("gen.creby")
				</th>	
				<td>
					$validator.escapeHtml($!creator)
				</td>
			</tr>
			<tr>
				<th>
					$tlang.getString("viewassig.datcre")
				</th>
				<td>
					$assignment.TimeCreated.toStringLocalFull()
				</td>
			</tr>
			<tr> 
				<th>
					$tlang.getString("gen.open")
				</th>
				<td>
					$assignment.OpenTime.toStringLocalFull()
				</td>
			</tr>
			<tr> 
				<th>
					$tlang.getString("gen.due")
				</th>
				<td>
					$assignment.DueTime.toStringLocalFull()
				</td>
			</tr>
			#set ($closeDate = $assignment.getCloseTime())
			#if ($!closeDate)
				<tr> 
					<th>
						$tlang.getString("gen.acesubunt")
					</th>
					<td>
						$assignment.CloseTime.toStringLocalFull()
					</td>
				</tr>
				##show alert when assignment is modified and the modified date is after its open date	
				#set($alertTimeLastModified=false)
				#set($newAssignment="false")
				#set($newAssignment=$assignment.getProperties().getProperty("newAssignment"))
				#if ($assignment.getTimeLastModified().after($assignment.getOpenTime()) && !$!newAssignment.equalsIgnoreCase("true"))
					#set($alertTimeLastModified=true)
				#end
				<tr>
					<th #if($!alertTimeLastModified)class="highlight"#end>
						$tlang.getString("gen.modbyins")
					</th>
					<td #if($!alertTimeLastModified)class="highlight"#end>
						$assignment.TimeLastModified.toStringLocalFull()
					</td>
				</tr>
			#end
			<tr> 
				<th>
					$tlang.getString("gen.stusub")
				</th>
				<td>
					$submissionTypeTable.get($assignment.getContent().getTypeOfSubmission())
				</td>
			</tr>
			##resubmit number
			#if($!resubmitNumber)
				<tr>
					<th>
						$tlang.getString("allow.resubmit.number")
					</th>
					<td>	
						$resubmitNumber
					</td>
				</tr>
				<tr>
					<th>
						$tlang.getString("allow.resubmit.closeTime")
					</th>
					<td>
						$resubmitCloseTime
					</td>
				</tr>
			#end
			<tr> 
				<th>
					$tlang.getString("gen.gra")
				</th>
				<td>
					#set ($gradeScale = $assignment.getContent().getTypeOfGradeString($assignment.getContent().getTypeOfGrade()))
					$gradeScale
					#if ($gradeTypeTable.get($assignment.getContent().getTypeOfGrade()) == $!tlang.getString("points"))
						($tlang.getString("grade.max") $assignment.getContent().getMaxGradePointDisplay())
					#end
				</td>
			</tr>
			#set ($scheduled = $assignment.getProperties().getProperty($assignment.getProperties().getNamePropNewAssignmentCheckAddDueDate()))
			#if ($scheduled)
				<tr> 
					<th>
						$tlang.getString("gen.addduedat")
					</th>
					<td>
						#if ($!scheduled == "true")
							$tlang.getString("gen.yes")
						#else
							$tlang.getString("gen.no")
						#end
					</td>
				</tr>
			#end
			<tr> 
				<th>
					$tlang.getString("gen.alert")
				</th>
				<td>
					#set ($announced = $assignment.getProperties().getProperty($assignment.getProperties().getNamePropNewAssignmentCheckAutoAnnounce()))
					#if ($!announced == "true")
						$tlang.getString("gen.yes")
					#else
						$tlang.getString("gen.no")
					#end
				</td>
			</tr>
			<tr> 
				<th>
					$tlang.getString("gen.honple")
				</th>
				<td> 
					#if ($assignment.getContent().HonorPledge == 1)
						$tlang.getString("gen.no")
					#else
						$tlang.getString("gen.yes")
					#end
				</td>
			</tr>
		</table>
		<h4>
			$tlang.getString("gen.assinf")
		</h4>
		<div class="textPanel">					
			#if ($assignment.getContent().getInstructions().length()>0)
				$validator.escapeHtmlFormattedText($assignment.getContent().getInstructions())
			#end
		</div>
		#set ($size = 0)
		#set ($props = false)
		#foreach ($attachment in $assignment.getContent().getAttachments()) 
			#set ($props = $attachment.Properties) 
			#if ($!props)
				#set ($size = $size + 1)
			#end
		#end
		#if ($size == 0)
##			$tlang.getString("gen.noatt")
		#else
			<h4>
				$tlang.getString("gen.addres2")
			</h4>	
			<ul class="attachList">
				#foreach ($attachment in $assignment.getContent().getAttachments()) 
					#set ($props = false)
					#set ($props = $attachment.Properties) 
					#if ($!props)
						<li>
							#if ($props.getBooleanProperty($props.NamePropIsCollection))
								<img src = "#imageLink($contentTypeImageService.getContentTypeImage("folder"))" border="0" alt="$tlang.getString("gen.folatt")" />
							#else
								<img src = "#imageLink($contentTypeImageService.getContentTypeImage($props.getProperty($props.NamePropContentType)))" border="0" alt="$tlang.getString("gen.filatt")" />
							#end
							<a href="$attachment.Url" target="_blank">$validator.escapeHtml($props.getPropertyFormatted($props.NamePropDisplayName))</a>						
							#propertyDetails($props)
						</li>
					#end
				#end
			</ul>
		#end
		#if ($taggable)
   	    	#parse ("/vm/assignment/chef_assignments_tags_list.vm")
		#end
		#elseif ($allowAddAssignment && $hideAssignmentFlag)
			## hide the assignment content
			<p class="discTria">
				<a href="#" onclick="location='#toolLink("AssignmentAction" "doShow_view_assignment")'; return false;" title="$tlang.getString("viewassig.shoassinf")">	
				<img src="#imageLink("sakai/expand.gif")" alt="$tlang.getString("gen.open")" border="0" width="13" height="13" align="top"  /></a>
				$tlang.getString("gen.settfor") "$validator.escapeHtml($assignment.title)"
			</p>	
		#end
		## student view
	<form name="viewAssignmentsForm" action="#toolForm("AssignmentAction")" method="post">
		<input type="hidden" name="assignmentId" value="$assignment.Reference" />
		<input type="hidden" name="assignmentContentId" value="$assignment.ContentReference" />
		#if (!$hideStudentViewFlag)
			<p class="discTria">
				<a href="#" onclick="location='#toolLink("AssignmentAction" "doHide_view_student_view")'; return false;">
				<img src="#imageLink("sakai/collapse.gif")" alt="$tlang.getString("gen.open")" border="0" width="13" height="13" align="top" /></a>
				$tlang.getString("gen.stuvieof") "$validator.escapeHtml($assignment.title)"
			</p>
			<div class="inopPanel">
				<table class ="itemSummary" cellspacing="0" cellpadding ="0" summary="$tlang.getString("gen.viewasstablesummary")">
					<tr>
						<th>
							$tlang.getString("gen.due")
						</th>
						<td>
							$!assignment.getDueTime().toStringLocalFull()
						</td>
					</tr>
					##resubmit number
					#if($!resubmitNumber)
						<tr>
							<th>
								$tlang.getString("allow.resubmit.number")
							</th>
							<td>
							$resubmitNumber
						</td>
					</tr>
					#end
					## resubmit close time
					#if ($!resubmitCloseTime)
						<tr>
							<th>
								$tlang.getString("allow.resubmit.closeTime")
							</th>
							<td>
								$resubmitCloseTime
							</td>
						</tr>
					#end
					<tr>
						<th>
							$tlang.getString("gen.status")
						</th>
						<td>
							#if ($!submission)
								#if ($submission.getSubmitted())
									#if ($submission.returned)
										#if ($submission.TimeReturned.before($submission.TimeSubmitted))
											$tlang.getString("gen.retu") $submission.TimeReturned.toStringLocalFull()
										#else
											$tlang.getString("gen.resub") $submission.TimeSubmitted.toStringLocalFull()
											#if ($submission.getTimeSubmitted().after($assignment.DueTime))
												<span class="highlight"> $tlang.getString("gen.late")</span>
											#end
										#end
									#elseif ($submission.getGraded() && $submission.getGradeReleased())
										$tlang.getString("gen.gra")
									#else
										$tlang.getString("gen.subm4") $submission.timeSubmitted.toStringLocalFull()
										#if ($submission.getTimeSubmitted().after($assignment.DueTime))
											<span class="highlight">$tlang.getString("gen.late2")</span>
										#end
									#end
								#else
									$tlang.getString("gen.inpro")
								#end
							#else
								$tlang.getString("gen.notsta")
							#end
						</td>
					</tr>
					<tr>
						<th>
							$tlang.getString("gen.grasca"):
						</th>
						<td>
							#set ($gradeScale = $assignment.getContent().getTypeOfGradeString($assignment.getContent().getTypeOfGrade()))
							$gradeScale
							#if ($gradeTypeTable.get($assignment.getContent().getTypeOfGrade()) == $!tlang.getString("points"))
								($tlang.getString("grade.max") $assignment.getContent().getMaxGradePointDisplay())
							#end
						</td>
					</tr>
					##show alert when assignment is modified and the modified date is after its open date
					#if($!alertTimeLastModified)
						<tr>
							<th class="highlight">
									$tlang.getString("gen.modbyins")
							</th>
							<td class="highlight">
								$assignment.getTimeLastModified().toStringLocalFull()
							</td>
						</tr>
					#end
				</table>
				<h4>
					$tlang.getString("gen.assinf")
				</h4>	
				#if ($!assignment.getContent().getInstructions().length()>0)
					<div class="textPanel">$validator.escapeHtmlFormattedText($!assignment.getContent().getInstructions())</div>
				#end
				#set ($size = 0)
				#set ($props = false)
				#foreach ($attachment in $assignment.getContent().getAttachments()) 
					#set ($props = $attachment.Properties) 
					#if ($!props)
						#set ($size = $size + 1)
					#end
				#end
				#if ($size == 0)
	##			$tlang.getString("gen.noatt")
				#else
					<h4>
						$tlang.getString("gen.addres2")
					</h4>	
					<ul class="attachList">
						#foreach ($attachment in $assignment.getContent().getAttachments()) 
							#set ($props = false)
							#set ($props = $attachment.Properties) 
							#if ($!props)
								<li>
									#if ($props.getBooleanProperty($props.NamePropIsCollection))
										<img src = "#imageLink($contentTypeImageService.getContentTypeImage("folder"))" border="0" alt="$tlang.getString("gen.folatt")" />
									#else
										<img src = "#imageLink($contentTypeImageService.getContentTypeImage($props.getProperty($props.NamePropContentType)))" border="0" alt="$tlang.getString("gen.filatt")" />
									#end
									<a href="$attachment.Url" target="_blank">$validator.escapeHtml($props.getPropertyFormatted($props.NamePropDisplayName))</a>						
									#propertyDetails($props)
								</li>
							#end
						#end
					</ul>
				#end	
				<h4>
					$tlang.getString("gen.submission")
				</h4>	
					## 1- text only; 2-attachment only; 3-text and attachment
					#set ( $submissionType = $assignment.getContent().getTypeOfSubmission())
					#if (($submissionType==1) || ($submissionType==3))
						<p class="instruction">
							#if ($submissionType==1)
								$tlang.getString("viewassig.theassall5")
							#elseif ($submissionType==3)
								$tlang.getString("viewassig.theassall1")
							#end
						</p>	
						<textarea cols="80" rows="8" wrap="virtual" name="textarea" id="textarea" disabled="disabled">&nbsp;</textarea><br />
					#end
					#if (($submissionType==2) || ($submissionType==3)) 
						#if ($submissionType==2)
								$tlang.getString("viewassig.theassall3") 
						#end
						<h4>
							$tlang.getString("gen.att")
						</h4>
						<p class="instruction">$tlang.getString("gen.noatt")</p> 
						<p class="act">
							<input type="button" name="eventSubmit_doAttachments" value="$tlang.getString("gen.addatt")" disabled="disabled" />
						</p>
					#end
					## if honor pledge is required
					#if ($assignment.getContent().HonorPledge != 1) 
						<p class="checkbox">
							<label for="yes">$honor_pledge_text</label>
							<input name="Yes" type="checkbox" id="yes" value="" disabled="disabled" /><br />
							$tlang.getString("gen.youmus")
						</p>	
					#end
				</div>	
		#else
			<p class="discTria">
				<a href="#" onclick="location='#toolLink("AssignmentAction" "doShow_view_student_view")'; return false;">
				<img src="#imageLink("sakai/expand.gif")" alt="$tlang.getString("gen.open")" border="0" width="13" height="13" align="top" /></a>
				$tlang.getString("gen.stuvieof") "$validator.escapeHtml($assignment.title)"
			</p>	

		#end
		<p class="act">
			#if ($assignment.Draft)
				<input type="submit" accesskey="s" name="eventSubmit_doPost_assignment" value="$tlang.getString("gen.pos")" class="active" />
				 <input type="submit"accesskey="x" name="eventSubmit_doDone_view_assignment" value="$tlang.getString("gen.can")" />
			#else
				<input type="submit" accesskey="x" name="eventSubmit_doDone_view_assignment" value="$tlang.getString("gen.backtolist")" class="active"  />
		#end
		</p>
		<input type="hidden" name="sakai_csrf_token" value="$sakai_csrf_token" />
	</form>
</div>
<!-- end: chef_assignments_instructor_view_assignment.vm  -->
