<!-- resources/sakai_create_text.vm, use with org.sakaiproject.tool.content.ResourcesHelperAction.java -->
<div class="portletBody specialLink">
	<h3>
		$tlang.getString("action.replace")
	</h3>
	#if ($itemAlertMessage)
		<div class="alertMessage">$tlang.getString("label.alert") $validator.escapeHtml($itemAlertMessage)</div>
		<div style="display:block;clear:both" ></div>
	#end
	<p class="instruction">
		$tlang.getString("instr.replace")
	</p>
	<form name="addContentForm" id="addContentForm" method="post" action="#toolForm("ResourcesHelperAction")"  enctype="multipart/form-data">
		<input type="hidden" name="pipe-init-id" id="pipe-init-id" value="$!{pipe-init-id}" />
		<input type="hidden" name="requestStateId" id="requestStateId" value="$!{requestStateId}" />
		
		#if($!{item.isMissing("content$i")})
			<p class="shorttext validation">
		#else
			<p class="shorttext">
		#end
			<label for="content$i">$tlang.getString("label.version")</label>
			<input type="file" name="content" id="content" />
		</p>
		
		<table class="itemSummary" border="0" style="clear:both;margin-left:1em">
			<tr> 
				<td style="width:180px;padding-left:0"> 
					<label>$tlang.getString("label.name")</label>
				</td>
				<td style="width:180px;padding-left:0"> 
					$validator.escapeHtml($item.name)
				</td>
			</tr>
			<tr> 
				<td style="width:180px;padding-left:0">  
					<label>$tlang.getString("props.mime")</label>
				</td>
				<td style="width:180px;padding-left:0"> 
					$item.mimetype
				</td>
			</tr>
		</table>
		#if ($item.resourceTypeDef.hasNotificationDialog())
			#if($item.isDropbox())
				#if($model.userIsMaintainer() || $dropboxNotificationAllowed)
					<p class="act">
						<input type="checkbox" name="notify_dropbox" id="notify_dropbox" value="true" /> 
						<label for="notify_dropbox">
							#if($model.isCourseSite())
								#if($model.userIsMaintainer())
									$tlang.getString("notify.student")
								#else
									$tlang.getString("notify.instructor")
								#end
							#else
								#if($model.userIsMaintainer())
									$tlang.getString("notify.access")
								#else
									$tlang.getString("notify.maintain")
								#end
							#end
						</label>
					</p>
				#end
			#elseif($item.isUserSite())
			#else			
				<p class="shorttext">
					<label for="notify">
						$tlang.getString("gen.email1")
					</label>	
					<select name="notify" id="notify">
						<option value="r">$tlang.getString("gen.email2")</option>
						<option value="o">$tlang.getString("gen.email3")</option>
						<option value="n" selected="selected">$tlang.getString("gen.email4")</option>
					</select>
				</p>	
			#end
		#end
		
		<p class="act">
			<input type="button" class="active" name="savechanges" id="saveChanges" onclick="javascript:showNotif('submitnotifxxx','saveChanges','addContentForm');document.getElementById('addContentForm').action='#toolLink("ResourcesHelperAction" "doReplace")';submitform('addContentForm');" value="$tlang.getString("label.upl")" accesskey="s" />
			<input type="button" name="cancel" onclick="javascript:document.getElementById('addContentForm').action='#toolLink("ResourcesHelperAction" "doCancel")';submitform('addContentForm');" value="$tlang.getString("label.cancel")" accesskey="x" />
			<span id="submitnotifxxx"  class="messageProgress"  style="visibility:hidden">$tlang.getString("processmessage.save.file")</span>
		</p>
		
		<input type="hidden" name="sakai_csrf_token" value="$sakai_csrf_token" />
	</form>
</div>
<script type="text/javascript" language="JavaScript">
	<!--
	function submitform(id)
	{
		var theForm = document.getElementById(id);
		if(theForm && theForm.onsubmit)
		{
			theForm.onsubmit();
		}
		if(theForm && theForm.submit)
		{
			theForm.submit();
		}
	}
	-->
</script>
