<!-- sakai_properties.vm -->
#if($calendarcounter)<!-- calendarcounter == $calendarcounter -->#else#set($calendarcounter = 0)#end
#if($item && !$model)#set($model = $item)#end
#if(!$item && $model)#set($item = $model)#end

#*
	var calendarcounter = document.calendarcounter++;
	
	var inputfield_id = "chef_calendarhiddenfield"+calendarcounter;

	// The image button that the user clicks on to pop up the calendar 
	document.write('<img src="/library/calendar/images/calendar/cal.gif" onClick="popupCalendar(\''+inputfield_id+'\');" alt="" style="cursor: pointer;" title="$tlang.getString("calendar.title")" />');

	// A hidden input field where the selected date value will be stored. 
	document.write('<input type="hidden" name="'+inputfield_id+'" id="'+inputfield_id+'" />');

	// stuff away variables specific to this particular calendar instance so that updateXXX() can get them   
	document.calendars[calendarcounter] = new Array(yearselect_id, monthselect_id, dayselect_id, inputfield_id);
*#

#macro (resources_dateselectionwidget $prefix $suffix $current_value $dateFormat)
	#set($yearSelected = $current_value.year)
	#set($earliestYear = $yearSelected - 4)
	#set($latestYear = $yearSelected + 4)
	#set($monthSelected = $current_value.month)
	#set($daySelected = $current_value.day)
   
   #chef_dateselectionwidget("${prefix}_year${DOT}${suffix}" "${prefix}_month${DOT}${suffix}" "${prefix}_day${DOT}${suffix}" $earliestYear $latestYear $yearSelected $monthSelected $daySelected $dateFormat "")
#end

#macro(resources_timeSelectionWidget $prefix $suffix $current_value)
	#set($time = $current_value.toStringLocalFull())
	#set($hour = $current_value.breakdownLocal().hour)
	#set($minute = $current_value.breakdownLocal().min)
	#set($timeType = "am")
	
	#if($hour > 12)
		#set($hour = $hour - 12)
		#set($timeType = "pm")
	#elseif($hour == 12)
		#set($timeType = "pm")
	#elseif ($hour == 0)
		#set($hour = 12)
	#end
	
	<select name="${prefix}_hour${DOT}${suffix}" id="${prefix}_hour${DOT}${suffix}">
		#if($hour == 1) <option selected="selected" value="1">1</option> #else <option value="1">1</option> #end
		#if($hour == 2) <option selected="selected" value="2">2</option> #else <option value="2">2</option> #end
		#if($hour == 3) <option selected="selected" value="3">3</option> #else <option value="3">3</option> #end
		#if($hour == 4) <option selected="selected" value="4">4</option> #else <option value="4">4</option> #end
		#if($hour == 5) <option selected="selected" value="5">5</option> #else <option value="5">5</option> #end
		#if($hour == 6) <option selected="selected" value="6">6</option> #else <option value="6">6</option> #end 
		#if($hour == 7) <option selected="selected" value="7">7</option> #else <option value="7">7</option> #end
		#if($hour == 8) <option selected="selected" value="8">8</option> #else <option value="8">8</option> #end
		#if($hour == 9) <option selected="selected" value="9">9</option> #else <option value="9">9</option> #end
		#if($hour == 10) <option selected="selected" value="10">10</option> #else <option value="10">10</option> #end
		#if($hour == 11) <option selected="selected" value="11">11</option> #else <option value="11">11</option> #end
		#if($hour == 12) <option selected="selected" value="12">12</option> #else <option value="12">12</option> #end
	</select>
	<select name="${prefix}_minute${DOT}${suffix}" id="${prefix}_minute${DOT}${suffix}">
		#if($minute == 0) <option selected="selected" value="0">00</option> #else <option value="0">00</option> #end
		#if($minute == 5) <option selected="selected" value="5">05</option> #else <option value="5">05</option> #end
		#if($minute == 10) <option selected="selected" value="10">10</option> #else <option value="10">10</option> #end
		#if($minute == 15) <option selected="selected" value="15">15</option> #else <option value="15">15</option> #end
		#if($minute == 20) <option selected="selected" value="20">20</option> #else <option value="20">20</option> #end
		#if($minute == 25) <option selected="selected" value="25">25</option> #else <option value="25">25</option> #end
		#if($minute == 30) <option selected="selected" value="30">30</option> #else <option value="30">30</option> #end 
		#if($minute == 35) <option selected="selected" value="35">35</option> #else <option value="35">35</option> #end
		#if($minute == 40) <option selected="selected" value="40">40</option> #else <option value="40">40</option> #end
		#if($minute == 45) <option selected="selected" value="45">45</option> #else <option value="45">45</option> #end
		#if($minute == 50) <option selected="selected" value="50">50</option> #else <option value="50">50</option> #end
		#if($minute == 55) <option selected="selected" value="55">55</option> #else <option value="55">55</option> #end
	</select>
	<select name="${prefix}_ampm${DOT}${suffix}" id="${prefix}_ampm${DOT}${suffix}">
		#if($timeType =="am") <option selected="selected">am</option> #else <option>am</option> #end
		#if($timeType =="pm") <option selected="selected">pm</option> #else <option>pm</option> #end
	</select>
#end
##
	<p class="shorttext">
		<label for="description${DOT}$i">
			$tlang.getString("edit.descr") 
		</label>
		<textarea id="description${DOT}$i" name="description${DOT}$i" rows="5" cols="80" wrap="virtual">$!{model.description}</textarea>
	</p>
	
	#if($model.canSetQuota())
		<p class="shorttext">
			<label for="hasQuota${DOT}$i">
				$tlang.getString("edit.quota")
			</label>
			<span>	
				<input type="hidden" name="setQuota${DOT}$i" value="true" />
				<input type="checkbox" name="hasQuota${DOT}$i" id="hasQuota${DOT}$i" value="true"#if($model.hasQuota()) checked="checked" #end style="border:none" />
				<input type="text" size="10" name="quota${DOT}$i" id="quota${DOT}$i" value="$!model.quota" />
			</span>
		</p>	
	#end
	
	#if ($model.isAdmin())
		<p class="shorttext">
			<label for="allowHtmlInline${DOT}$i">
				$tlang.getString("edit.renderHtml")
			</label>
			<span>
				#if ($model.isAllowHtmlInlineInherited())
					## if the value of this property is inherited from the collection, we need to display a static value so it doesn't get unintentionally persisted with a new value.
					<input
						type="hidden"
						id="allowHtmlInline${DOT}$i"
						name="allowHtmlInline${DOT}$i"
						#if ($model.isAllowHtmlInline()) value="true" #else value="false" #end />
					
					## display a disabled checkbox to indicate to the user that inline html is allowed, but it cannot be changed because it is inherited
					<input type="checkbox" disabled="disabled" checked="checked" style="border:none;" />
					
				#else
					<input
						type="checkbox"
						name="allowHtmlInline${DOT}$i"
						id="allowHtmlInline${DOT}$i"
						value="true"
						#if ($model.isAllowHtmlInline()) checked="checked" #end
						style="border:none" />
				#end
				<span class="textPanelFooter">$tlang.getString("edit.renderHtml.explanation")</span>
			</span>
		</p>
	#end
	
	#if($model.resourceTypeDef.hasRightsDialog()) 
		#if ($!copyrightTypes.size() > 0)
			<p class="shorttext">
				<span class="reqStar">*</span>
				<label for="copyright${DOT}$i">
					$tlang.getString("cright.status")
				</label>	
				<select name="copyright${DOT}$i" id ="copyright${DOT}$i">
					#set ($noOneSelected=true)
					#foreach ($copyright in $copyrightTypes)
						<option value="$copyright.getType()"#if($model.copyrightStatus == $copyright.getType() || $model.copyrightStatus == $copyright.getText()) selected="selected"#end #if ($!copyright.getLicenseUrl()) title="${copyright.getLicenseUrl()}"#end>$copyright.getText()</option>
						#if($model.copyrightStatus == $copyright.getType() || $model.copyrightStatus == $copyright.getText())
							#set ($noOneSelected=false)
						#end
					#end
					#if ($noOneSelected && $!model.copyrightStatus)
						<option value="$model.copyrightStatus" selected="selected">${model.copyrightStatus}</option>
					#end
				</select>
				(<a href="#" onclick="javascript:openMoreInfoCopyrightWindow('copyright${DOT}$i');" title="[$tlang.getString('cright.newwin')]"><span class="skip"> [$tlang.getString('cright.newwin')]</span>$tlang.getString('cright.fairuse')</a>)
			</p>
			<div id="copyright_status${DOT}$i"#if($model.copyrightStatus == $USE_THIS_COPYRIGHT) style="display:block;"#else style="display:none;"#end>
				<p class="shorttext">
					<span class="reqStar">*</span>
					<label for="newcopyright${DOT}$i">
						$tlang.getString("cright.info")
					</label>	
					<textarea name="newcopyright${DOT}$i" id="newcopyright${DOT}$i" rows="2" cols="40" wrap="virtual" >$validator.escapeHtmlTextarea("$!model.copyrightInfo")</textarea>
				</p>	
			</div>
			<table border="0" cellpadding="0" cellspacing="0">
				<tr>
					<td style="padding:.25em 0;padding-left:1em;vertical-align:top">
						<label for="copyrightAlert${DOT}$i" style="width:15.5em;display:block">
							$tlang.getString("cright.alert")
						</label>
					</td>
					<td style="vertical-align:top;padding:.25em 0;">
						<input type="checkbox" name="copyrightAlert${DOT}$i" id ="copyrightAlert${DOT}$i" value="true" #if($model.hasCopyrightAlert())checked="checked"#end style="border:none" />
						$tlang.getString("cright.display") 
						(<a href="#" onclick="javascript:openSampleCopyrightWindow();" title="[$tlang.getString('cright.newwin')]"><span class="skip">[$tlang.getString('cright.newwin')]</span>$tlang.getString("cright.show")</a>)
					</td>
				</tr>
			</table>
		#end
	#end

	#if(!$model.isDropbox() && ! $model.isSiteCollection())
		<h4>
			$tlang.getString("props.access")
		</h4>
	#end
	
	######### begin access section ##########
	#if(!$model.isDropbox() && ! $model.isSiteCollection())
		<p class="instruction">$model.longAccessLabel</p>
		<div  class="labelindnt">
			#set ($listDisplay="none")
			#if($model.isSiteOnly())
				##Site has *NO* groups and public-view is *NOT* enabled on the server (no choices to be made, but we should report the access)
				<input type="hidden" name="access_mode${DOT}$i" id="access_mode_hidden${DOT}$i" value="$INHERITED_ACCESS" />
			#elseif($model.isSingleGroupInherited())
				##Grouped access is inherited; parent folder limited to a single group (report that grouped access limited to a single group is inherited from above)
				<input type="hidden" name="access_mode${DOT}$i" id="access_mode_hidden${DOT}$i" value="$INHERITED_ACCESS" />
			#elseif($model.isGroupInherited() && "$model.accessMode" == "grouped")	
				##Grouped access is inherited; parent folder limited to two or more groups (present choice among groups; table shows only groups inherited from parent)
				#set ($listDisplay="block")
				<p>
					<input type="radio" name="access_mode${DOT}$i" id="access_mode_inherited${DOT}$i" value="inherit" style="border:none" />
					<label for="access_mode_inherited${DOT}$i">$tlang.getString("access.inherit")</label>
				</p>
				<p>
					<input type="radio" name="access_mode${DOT}$i" id="access_mode_groups${DOT}$i" value="$GROUP_ACCESS" checked="checked"    style="border:none" />
					<label for="access_mode_groups${DOT}$i">$tlang.getString("access.groups.choice")</label>
				</p>
			#elseif($model.isGroupInherited())	
				##Grouped access is inherited; parent folder limited to two or more groups (present choice among groups; table shows only groups inherited from parent)
				<p>
					<input type="radio" name="access_mode${DOT}$i" id="access_mode_inherited${DOT}$i" value="inherited" checked="checked"   style="border:none" />
					<label for="access_mode_inherited${DOT}$i">$tlang.getString("access.inherit")</label>
				</p>
				<p>
					<input type="radio" name="access_mode${DOT}$i" id="access_mode_groups${DOT}$i" value="$GROUP_ACCESS"   style="border:none" />
					<label for="access_mode_groups${DOT}$i">$tlang.getString("access.groups.choice")</label>
				</p>
			#elseif($model.isPubviewInherited())
				## Public access inherited from parent (report that to user)
				<input type="hidden" name="access_mode${DOT}$i" id="access_mode_hidden${DOT}$i" value="$INHERITED_ACCESS" />
			#else
				## Site is possible and either group or public is possible
				<p>
					<input type="radio" name="access_mode${DOT}$i" id="access_mode_inherited${DOT}$i" value="inherited" #if(!$model.isPubview() && "$!model.accessMode" != "$GROUP_ACCESS") checked="checked"#end style="border:none" />
					<label for="access_mode_inherited${DOT}$i">#if($model.isCollection())$tlang.getString("access.site.fldr")#else$tlang.getString("access.site.choice")#end</label>
				</p>
				#if($model.isPubviewPossible())
					## Public is possible
					<p>
						<input type="radio" name="access_mode${DOT}$i" id="access_mode_public${DOT}$i" value="public" #if($!model.isPubview()) checked="checked"#end style="border:none" />
						<label for="access_mode_public${DOT}$i">#if($model.isCollection())$tlang.getString("access.public.fldr")#else$tlang.getString("access.public.choice")#end</label>
					</p>
				#end
				#if($model.isGroupPossible())
					## Group is possible
					#if("$!model.accessMode" == "$GROUP_ACCESS")
						#set ($listDisplay="block")
					#else
						#set ($listDisplay="none")
					#end
					<p>
						<input type="radio" name="access_mode${DOT}$i" id="access_mode_groups${DOT}$i" value="$GROUP_ACCESS" #if("$!model.accessMode" == "$GROUP_ACCESS") checked="checked"#end style="border:none" />
						<label for="access_mode_groups${DOT}$i">#if($model.isCollection())$tlang.getString("access.groups.fldr")#else$tlang.getString("access.groups.choice")#end</label>
					</p>
				#end
			#end
		</div>

		#if($model.isGroupPossible())
			<table id="groupTable${DOT}$i" class="listHier lines labelindnt" border="0" style="width:80%;display:$listDisplay" cellspacing="0" summary="$tlang.getString("edit.group3")">
				<caption class="skip" style="display:none">$tlang.getString("edit.access4")</caption>
				<tr>
					<th id="selected${DOT}$i" style="width:2em;padding-left:.4em">
 						<input type="checkbox" id="selectall${DOT}$i" name="selectall${DOT}$i" title="$tlang.getString("group.select.title")" />
					</th>
					<th id="groupname${DOT}$i">
						$tlang.getString("edit.group1")
					</th>
					<th id ="groupdescription${DOT}$i">
						$tlang.getString("edit.group2")
					</th>
				</tr>
				#set($theGroups = $model.possibleGroups)
				#foreach ($group in $!{theGroups})
					#if($model.isPossible($group))
						<tr>
							<td headers="selected${DOT}$i" style="padding-bottom:0;" style="width:2em">
								#if($model.isLocal($group) && $model.allowedRemove($group))
									<input type="checkbox" name="access_groups${DOT}$i" id="access_groups_${group.Id}${DOT}$i" title="$group.title" value="$group.Id" checked="checked" />
								#elseif($model.isLocal($group))
									<img src="#imageLink("sakai/checkon.gif")" border="0" width="17" height="13" align="top" />
								#else
									<input type="checkbox" name="access_groups${DOT}$i" id="access_groups_${group.Id}${DOT}$i" title="$group.title" value="$group.Id" />
								#end
							</td>
							<td headers="groupname${DOT}$i" style="padding-bottom:0;" class="checkbox">
								<label for="access_groups_${group.Id}${DOT}$i">
									$validator.escapeHtml($group.title)
								</label>	
							</td>
							<td headers="groupdescription${DOT}$i" width="100%"> ##mozilla does not resize table children dynamically , so set here
								#set($description = "")
								#if($group.description)
									#set($description = $group.Description)
								#end
								$validator.escapeHtml($!description)
							</td>
						</tr>
					#end
				#end
			</table>
		#end
	#end

	######### end access section ##########

	######### begin availability section ##########
	#if($availability_is_enabled && !$model.isUserSite() && !$model.isDropbox() && ! $model.isSiteCollection())
		<p class="instruction">
			#if($model.isCollection())
				$tlang.getString("instr.access.fldr")
			#else
				$tlang.getString("instr.access")
			#end
		</p>
		<div  class="labelindnt">
			<table>
				<tr>
					<td>
						<input type="radio" name="hidden${DOT}$i" id="hidden_false${DOT}$i" value="false" #if(!$model.isHidden())checked="checked" #end/>
					</td>
					<td colspan="4">
						<label for="hidden_false${DOT}$i">
							#if($model.isCollection())
								$tlang.getString("avail.show2")
							#else
								$tlang.getString("avail.show1")
							#end
						</label>
					</td>
				</tr>
				<tr>
					<td>
					</td>
					<td>
						<input type="checkbox" name="use_start_date${DOT}$i" id="use_start_date${DOT}$i" value="true" #if($!model.useReleaseDate())checked="checked" #end/>
					</td>
					<td colspan="3">
						<label for="use_start_date${DOT}$i">
							$tlang.getString("avail.start1")
						</label>
					</td>
				</tr>
				<tr>
					<td>
					</td>
					<td>
					</td>
					<td>
					</td>
					<td>
						<label for="release_year${DOT}$i">$tlang.getString("label.date")</label>
					</td>
					<td>
						<label for="release_hour${DOT}$i">$tlang.getString("label.time")</label>
					</td>
				</tr>
				<tr>
					<td>
					</td>
					<td>
					</td>
					<td>
					</td>
					<td>
						#resources_dateselectionwidget("release" "$i" $model.releaseDate.breakdownLocal() $dateFormat )
					</td>
					<td>
						#resources_timeSelectionWidget("release" "$i" $model.releaseDate)
					</td>
				</tr>
				<tr>
					<td>
					</td>
					<td>
						<input type="checkbox" name="use_end_date${DOT}$i" id="use_end_date${DOT}$i" value="true" #if($model.useRetractDate())checked="checked" #end/>
					</td>
					<td colspan="4">
						<label for="use_end_date${DOT}$i">
							$tlang.getString("avail.end1")
						</label>
					</td>
				</tr>
				<tr>
					<td>
					</td>
					<td>
					</td>
					<td>
					</td>
					<td>
						<label for="retract_year${DOT}$i">$tlang.getString("label.date")</label>
					</td>
					<td>
						<label for="retract_time${DOT}$i">$tlang.getString("label.time")</label>
					</td>
				</tr>
				<tr>
					<td>
					</td>
					<td>
					</td>
					<td>
					</td>
					<td>
						#resources_dateselectionwidget("retract" "$i" $model.retractDate.breakdownLocal() $dateFormat)
					</td>
					<td>
						#resources_timeSelectionWidget("retract" "$i" $model.retractDate)
					</td>
				</tr>
				#if($conditions_enabled)
				<tr>
					<td>
					</td>
					<td>
					#if($resourceSelections.size() == 0)
						<input name="cbCondition${DOT}$i" id="cbCondition${DOT}$i" value="true" type="checkbox" disabled>
					#else
						#if($item.isUseConditionalRelease())
							<input name="cbCondition${DOT}$i" id="cbCondition${DOT}$i" value="true" type="checkbox" checked="checked">
						#else
							<input name="cbCondition${DOT}$i" id="cbCondition${DOT}$i" value="true" type="checkbox">
						#end
					#end	
					</td>
					<td colspan="3">
						<label for="cbCondition${DOT}$i">
							$tlang.getString("conditional.only_if_condition_is_met")
						</label>
					</td>
				</tr>
				#end
			</table>
			#if($conditions_enabled)					
			<table>
				<tr>
					<td>
						&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
					</td>
					<td>
						&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
					</td>
					<td colspan="3">
						#if($resourceSelections.size() == 0)
							$tlang.getString("no.gradebook.assignments")
						#else						
							$tlang.getString("conditional.gradebook_tool_name") 
							<select name="selectResource${DOT}$i" id="selectResource${DOT}$i">
							#foreach ($key in $resourceSelections.keySet())
							    #if($key.startsWith("${item.getSubmittedResourceFilter()}/") && $item.isUseConditionalRelease()) 
									<option value="${key.replaceAll("\"","&quot;")}" selected="selected">${resourceSelections.get(${key})}</option>
								#else
									<option value="${key.replaceAll("\"","&quot;")}">${resourceSelections.get(${key})}</option>
								#end
							
							#end
							</select>
							<select name="selectCondition${DOT}$i"
							  id="selectCondition${DOT}$i"
							  onchange="changeCondition(this.options[this.selectedIndex].value, '${DOT}$i');">
							#foreach ($key in $conditionSelections.keySet())							
								#if($key.equals($item.getSelectedConditionKey()) && $item.isUseConditionalRelease())
									<option value="${key}" selected="selected">${conditionSelections.get(${key})}</option>							
								#else
									<option value="${key}">${conditionSelections.get(${key})}</option>							
								#end
							#end
							</select>
							#if($item.getSelectedConditionKey().startsWith("9") || $item.getSelectedConditionKey().startsWith("10"))
							<span id="grade_argument_span${DOT}$i" style="display:inline;">
								<input type="text" size="3" name="assignment_grade${DOT}$i" id="assignment_grade${DOT}$i" value="$item.getConditionArgument()" />
							#else
							<span id="grade_argument_span${DOT}$i" style="display:none;">
								<input type="text" size="3" name="assignment_grade${DOT}$i" id="assignment_grade${DOT}$i" />
							#end
							</span>
						#end
					</td>
				</tr>
			</table>
			#end
			<table>
				<tr>
					<td>
						<input type="radio" name="hidden${DOT}$i" id="hidden_true${DOT}$i" value="true" #if($model.isHidden())checked="checked" #end/>
					</td>
					<td colspan="4">
						<label for="hidden_true${DOT}$i">
							#if($model.isCollection())
								$tlang.getString("avail.hide20")
							#else
								$tlang.getString("avail.hide10")
							#end
						</label>
					</td>
				</tr>
			</table>
		</div>
	#end
	######### end availability section ##########	
	
	#if($showItemSummary)
		<h4>
			#if($item.isCollection())
				$tlang.getString("props.fldr")
			#else
				$tlang.getString("props.file")
			#end
		</h4>
	
		<table class="itemSummary" border="0" style="clear:both;"">
			#if (!($dropboxMode && $collectionId==$homeCollectionId))
				<tr> 
					<th> 
						#if("$!TYPE_UPLOAD" == "$!{type.id}")$tlang.getString("props.creator.upl")#else$tlang.getString("props.creator")#end
					</th>
					<td>
						$validator.escapeHtml("$model.createdBy")
					</td>
				</tr>
				<tr> 
					<th> 
						#if("$!TYPE_UPLOAD" == "$!{type.id}")$tlang.getString("props.creatime.upl")#else$tlang.getString("props.creatime")#end
					</th>
					<td>
						$validator.escapeHtml("$model.createdTime")
					</td>
				</tr>
			#end
			<tr>
				<th> 
					$tlang.getString("props.modby")
				</th>
				<td>
					$validator.escapeHtml("$model.modifiedBy")
				</td>
			</tr>
			<tr> 
				<th> 
					$tlang.getString("props.modtime")
				</th>
				<td>
					$validator.escapeHtml("$model.modifiedTime")
				</td>
			</tr>
			<tr> 
				<th> 
					$tlang.getString("props.url")
				</th>
				<td>
					<div>
						<a class="textPanelFooter" href="javascript:document.getElementById('fileURLHolder').style.overflow='auto';
						document.getElementById('fileURLHolder').focus();document.getElementById('fileURLHolder').select();">$tlang.getString("props.select")</a>
						| <a class="textPanelFooter" href="$model.accessUrl" target ="_blank">$tlang.getString("props.open")</a>
					</div>
					<textarea id="fileURLHolder" rows="3" cols="50" style="overflow:auto">$model.accessUrl</textarea>						

				</td>
			</tr>
			#if(! $item.isCollection())
				<tr> 
					<th>
						$tlang.getString("props.size")
					</th>
					<td>
						$model.sizzle 
					</td>
				</tr>
			#end
			#if(! $model.isUrl() && ! $model.isCollection() && "$!{model.mimetype}" != "")
				<tr> 
					<th>
						$tlang.getString("props.mime")
					</th>
					<td>
						<span id="mime_warning${DOT}$i"></span>
						<span id="mime_widget${DOT}$i">
							$model.mimetype
							<input type="hidden" name="mime_category${DOT}$i" id="mime_category${DOT}$i" value="$model.mimeCategory" />  
							<input type="hidden" name="mime_subtype${DOT}$i" id="mime_subtype${DOT}$i" value="$model.mimeSubtype" />
							<input type="button" name="changeMimetype${DOT}$i" id="changeMimetype${DOT}$i" value="$tlang.getString("change.filetype")" />
						</span>
					</td>
				</tr>
			#end
			#if ($showMountPointProperty)
				<tr>
					<th>$tlang.getString("props.mountpoint")</th>
          <td><input type="textbox" name="sakai:handler-bean-id" id="sakai:handler-bean-id" value="$CHHmountpoint" /></td>
				</tr>
			#end
		</table> 
	#end
#parse("/vm/resources/sakai_metadata-edit.vm")
