<ul class="navIntraTool actionToolbar" role="menu">
	<f:verbatim><li role="menuitem" class="firstToolBarItem"><span></f:verbatim>
    	<h:commandLink action="overview" immediate="true" rendered="#{viewName ne 'overview'}">
        	<h:outputText value="#{msgs.nav_overview}" />
    	</h:commandLink>
		<h:outputText value="#{msgs.nav_overview}" rendered="#{viewName eq 'overview'}" />
	<f:verbatim></span></li></f:verbatim>
    
    <h:panelGroup rendered="#{navMenuBean.sectionManagementEnabled}">
  		<f:verbatim><li role="menuitem"><span></f:verbatim>
        	<h:commandLink action="addSections" immediate="true" rendered="#{viewName ne 'addSections'}">
            	<h:outputText value="#{msgs.add_sections}"/>
        	</h:commandLink>
			<h:outputText value="#{msgs.add_sections}" rendered="#{viewName eq 'addSections'}" />
  		<f:verbatim></span></li></f:verbatim>
    </h:panelGroup>

	<f:verbatim><li role="menuitem"><span></f:verbatim>
    	<h:commandLink action="roster" immediate="true" rendered="#{viewName ne 'roster'}">
        	<h:outputText value="#{msgs.student_member}"/>
    	</h:commandLink>
    	<h:outputText value="#{msgs.nav_roster}" rendered="#{viewName eq 'roster'}" />
 	<f:verbatim></span></li></f:verbatim>


    <h:panelGroup rendered="#{navMenuBean.sectionOptionsManagementEnabled}">
  		<f:verbatim><li role="menuitem"><span></f:verbatim>
	    <h:commandLink action="options" immediate="true" rendered="#{viewName ne 'options'}">
	        	<h:outputText value="#{msgs.nav_options}" />
	    </h:commandLink>
	    <h:outputText value="#{msgs.nav_options}" rendered="#{viewName eq 'options'}" />
		<f:verbatim></span></li></f:verbatim>
	</h:panelGroup>
</ul>

<h:panelGrid columns="2" styleClass="rosterPageHeader" columnClasses="rosterPageHeaderLeft,rosterPageHeaderRight">
    <h:panelGroup/>
	<h:panelGroup>
		<h:commandButton actionListener="#{rosterBean.export}" value="#{msgs.nav_download}" rendered="#{viewName eq 'roster'}" title="#{msgs.nav_download}"/>
		<h:commandButton onclick="javascript:window.print();return false;" value="#{msgs.nav_print}"  rendered="#{viewName eq 'roster'}" title="#{msgs.nav_print}"/>
	</h:panelGroup>
</h:panelGrid>


