/*general body - used by main portal document and document inside of the #sitenav iframe*/ 
body{
	width: 100%;
	padding: 0;
	font-family: 'Trebuchet MS',Verdana,sans-serif;
	margin: 0;
	font-size:1em;
	background: #fff;
}

/*PART 1 - MAIN LAYOUT BLOCKS*/
/*outer wrapper for portal content (decorative - child is #portalContainer )*/
#portalOuterContainer{
	direction: rtl;
}

/*inner wrapper for portal content (decorative - children are #header #container and #footer )*/
#portalContainer{
	direction: rtl;

}

#headerMax,#headerMin{
	margin: 0;
	height:100%;
}

/*accessibility links wrapper */
#skipNav{
}
/*site hierarchy breadcrumb*/
#siteHierarchy{
        clear:both;
        float:none;
        margin:0;
        list-style: none;
        padding:.5em;
        font-size:.85em;
        border-bottom:1px solid #ccc;
        background: #ffe;
}
/*style the standard breadcrumbseparator
can set display:none if needed because the list-style is taking care of it*/
.breadSeparator{
}
#siteHierarchy li{
        display:inline;
}
#siteHierarchy li a, #siteHierarchy li a:visited{
        color:#BB7711;
        text-decoration:none
}

/*wrapper for site content (includes as children #toolMenuWrap,#content and #footer)*/
#container{
	clear:both;
	width: 100%;
	margin:1em 0 0 0;
}

/*wrapper for #toolMenu - children are #worsiteLogo,#toolMenu*/
#toolMenuWrap{
	float: right;
	width: 9.6em;
	color: #000;
	text-align: left;
	padding:0 .5em 0 0;
	border-right:2px solid #FFF
}

#toolMenuWrap:hover{
	border-left:2px solid #fff;
	}
/*depending on site type - different hover effects for the tool menu parent block
site types are a local setting - adjust */
.workspace #toolMenuWrap:hover{
	border-left:2px solid #fff;
}
.course #toolMenuWrap:hover{
		border-left:2px solid #fff;
}
.project #toolMenuWrap:hover{
		border-left:2px solid #fff;
}
#tabBottom{
	display:none;
}

/*wrapper for site content (portlets) -  children can be #col1 or #col1of2 and #col2of2 depending in the number of columns*/
#content{
	padding: 0;
	margin-top: .5em;
	margin-right: 11em;
}

* html #content{margin-left:11.2em;}
/*wrapper for footer blocks*/
#footer{
	color: #000;
	font-size: x-small;
	margin: 0px;
	padding: 0;
	width: auto;
	clear: both;
	top: 0;
	text-align: center;
}
#footerLinks{
    margin:0;
    padding:0;
}
#footerLinks li{
	margin:0;
	border-left:1px solid #ccc;
	display: inline;
	list-style-type: none;
	padding:0;
}
#footerLinks li:first-child{
	border:none;
}

/*PART 2 - HEADER IFRAME SETTINGS*/	
/*iframe sizes for different states*/
/*gone for 2.3*/
/*PART 3 - HEADER BLOCKS (BRANDING,LOGIN)*/
/*outer wrapper for contents of site navigation document that is displayed inside of the site navigation iframe
TODO:get it and its children onto main document. Children are #mastHead,#tabNavWrap*/
.siteNavWrap{
	margin: 0; 
	height:100%;
	overflow:hidden;
	background: #BB7711;
	border-top: 1px solid #CC8811;
	width: 100%;
	padding: 3px 0 0 0;

}

/*depending on site type - different border-bottoms for the site menu parent block
site types are a local setting - adjust */
.workspace #siteNav{
	border-bottom:5px solid silver;
}
.course #siteNav{
		border-bottom:5px solid silver;
}
.project #siteNav{
		border-bottom:5px solid silver;
}

/*wrapper for mast head elements - children are 3 blocks - #mastLogo,#mastBanner,#mastLogin*/
#mastHead{
	background:#7ac252;
	font-size: .8em;
	height:100px;
	overflow:hidden;
}

#headerMax #mastHead{
	height:50px;
	overflow:hidden;
}

/*container wrapping branding images - portal outputs one /library/skin/<skin name>/images/logo_inst.gif
that can be used or hidden,can also use a background:url(images/<image name>.<ext>) in this block,or both superimposing them*/

#mastLogo{
	display:none;
}

/*the portal outputs an image that can be treated here or hidden with display:none*/
#mastLogo img{
	display:none;
}

/*another container wrapping branding images - portal outputs one /library/skin/<skin name>/images/banner_inst.gif
that can be used or hidden,can also use a background:url(images/<image name>.<ext>) in this block,or both superimposing them*/
#mastBanner{
		display:block;
		float:right;
		width:288px;
		height:50px;
		background: #7ac252 url(images/loggedinback-p.jpg) top right no-repeat;
}
.course #mastBanner{
		display:block;
		float:right;
			width:288px;
		height:50px;
		background: #7ac252 url(images/loggedinback-p.jpg) top left no-repeat;
}
.workspace #mastBanner{
		display:block;
		float:right;
		width:288px;
		height:50px;
		background: #7ac252 url(images/loggedinback-p.jpg) top left no-repeat;
}

.project #mastBanner{
		display:block;
		float:right;
		width:288px;
		height:50px;
		background: #7ac252 url(images/loggedinback-p.jpg) top left no-repeat;
}

#mastSiteTitle
{
	display:none;
	/*
	width: 440px;
	height:35px;
	margin-top:8px;
	float:left;
	color:#fff;
	font-size:28px;
	font-family: "LTTetria BoldTab";
	*/
}

/*the portal outputs an image that can be treated here or hidden with display:none*/
#mastBanner img{
	margin:0;
}

#headerMax #mastBanner img{
	display:none;
}


/*container wrapping,depending on Sakai settings:1) a login form,2) a login link for CAS,3) a logout link*/
#mastLogin{
	float: left;
	text-align: right;
	padding-left: 15px;
	vertical-align: top;
}


/*the anchor for the login link for CAS above can be an image - treated here*/
#mastLogin img{
	margin-top: 0;
	border: 0;
	margin-top:-2em;
}

/*login links for CAS,logout link*/
#mastLogin a,#mastLogin a:visited{
	display:block;
	color:#fff;
	font-weight: bold;
	padding-right: 1em;
}

#headerMax #mastLogin a,#headerMax #mastLogin a:visited{

}

#mastLogin a:hover{
	text-decoration: none;
}

/*login form elements - in order,form,userid field,password field,login button - first 2 have labels associated with them,gettable as #loginForm label{
}

#loginForm is the form for login - contains children #eid #pw #submit*/
#loginForm{
	margin: 1em 0;
}

#eid{
	border: 1px solid #aaa;
	padding: 3px;
	margin-left: .5em;
	width: 7em;
}

#pw{
	border: 1px solid #aaa;
	padding: 3px;
	margin-left: .5em;
	width: 7em;
}

#loginForm label{
	color: #fff;
	padding: 0 .5em
}

#submit{
}

#submit:hover{
	color: #00338b;
}

/*block for login/logout links */
#loginLinks{
    padding-top: 1em;
	margin: 0;
}

/*main CAS link*/
#loginLink1{
    float:left;
}

/*secondary CAS link*/
#loginLink2{
}
#loginUser{
}
/*PART 4 - SITE NAVIGATION - children of #siteNavBlock*/
/*outer wrapper for the site navigation blocks - it is a class,not an id because it can be overloaded with other values having to do with site type
so for example <div class="tabHolder workspace"> so that different site types can be treated differently via inheritance - children are #siteNavWrap and #navBottom*/

* html .siteNavWrap{
	padding:0
}
.siteNavWrap:hover{
	border-top: 1px solid #EEAA22;
}
/*wrapper for the site links and site <select> blocks - children are #siteNav and #tabNav */
/*note - after tag 2.2 004 - this and children are no longer nested floated boxes due to fact of site nav remaining in iframe with attendant float drop problems*/
#siteNav{
	width:100%;
	height:100%;
	overflow:hidden;
	padding-bottom:5px;
	border-bottom: 5px solid silver;
}

/*wrapper for the site link list   - the #siteLinkList child)*/
#linkNav{
/*	float:right*/
}

/*wrapper for the site <select> that is displayed when more than x sites are in the link list*/
#selectNav{
	float:left;
	text-align: right;	
}

/*the <select> contextually defined*/
#selectNav select{
	display:inline;
	margin:  0 10px;
	padding: 0;
}

#selectNav select option{
	background: #fff;
}

#roleSwitch{
    float:left;
    font-size: .8em;
}
#roleSwitch label, #roleSwitch  a#roleSwitchAnchor{
	color:#fff;
}
#roleSwitch a#roleSwitchAnchor{
	display:block;
}	
#roleSwitch select{
	padding:0;
}	
/*a ul - the li below are outer wrappers for the links to sites */
#siteLinkList{
/*	white-space: nowrap;*/
	line-height: 1.5;
	direction:rtl !important;
	list-style: none;
	font-size: .8em;
	margin: 0;	
	padding: 4px 0;
	width: auto;
}

/*list elements - children are <span> and <a>*/
#siteLinkList li{
	display: inline;
	float:right;
/*	line-height: 1.3em;*/
}

/*span shim for fine grained manipulation of link display (decorative)*/
#siteLinkList li span{
}

/*the current sites' link*/
#siteLinkList .selectedTab a,
	#siteLinkList .selectedTab a:link,
	#siteLinkList .selectedTab a:visited,
	#siteLinkList .selectedTab a:hover{
	color: #FFBB66;
	font-weight: bold;
	cursor: text;
	text-decoration: none;
}

.workspace siteLinkList .selectedTab a,.workspace #siteLinkList .selectedTab a:link,.workspace #siteLinkList .selectedTab a:visited,.workspace #siteLinkList .selectedTab a:hover
{
	color: #FFBB66;
}
.course siteLinkList .selectedTab a,.course #siteLinkList .selectedTab a:link,.course #siteLinkList .selectedTab a:visited,.course #siteLinkList .selectedTab a:hover
{
	color: #FFBB66;
}

.project siteLinkList .selectedTab a,.project #siteLinkList .selectedTab a:link,.project #siteLinkList .selectedTab a:visited,.project #siteLinkList .selectedTab a:hover
{
	color: #FFBB66;
}


/*links to other sites*/
#siteLinkList a,#siteLinkList a:link,#siteLinkList a:visited{
	color: #fff;
	padding: 2px 6px 2px 6px;
	text-decoration: none;
	border-left:1px solid #fff;
}

#siteLinkList li:last-child a{
	border:none
}

/*hover state for links to other sites*/
#siteLinkList a:hover{
	color: #fff;
	text-decoration: underline;
}



#siteLinkList li.tab-dim a,
	#siteLinkList li.tab-dim a:link,
	#siteLinkList li.tab-dim a:visited,
	#siteLinkList li.tab-dim a:hover {
	color: #666;
	background: transparent url(images/tab-left-selected.gif) no-repeat scroll left top;
}

#siteLinkList li.tab-dim a span {
	background:transparent url(images/tab-right-selected.gif) no-repeat scroll right top;
	padding-bottom: 3px;
}

/* more tab */
#siteLinkList li.more-tab a span.inner {
	background-image:  url(images/tab-arrow-down.gif);
	background-repeat: no-repeat;
	background-position: center left;
	padding: 0  0 0 20px;
	margin: 0;
}

#siteLinkList li.more-active a,
	#siteLinkList li.more-active a:link,
	#siteLinkList li.more-active a:visited {
	color:#000000;
	font-weight: bolder;
	text-decoration: none;
	background: #fff url(images/tab-left-selected.gif) no-repeat scroll left top;	
	border-width: 0;
}

#siteLinkList li.more-active a:hover {
	text-decoration: underline;
}

#siteLinkList li.more-active a span {
	background:transparent url(images/tab-right-selected.gif) no-repeat scroll right top;
	padding-bottom: 5px;
}

#siteLinkList li.more-active a span.inner {
	background-image: url(images/tab-arrow-down-active.gif);
}

/*wrapper for the site <select> that is displayed when more than x sites are in the link list*/
.dhtml_more_tabs {
	position: absolute !important;
	float:none  !important;
	top: 5em  !important;
	right: 4px  !important;
	line-height: 1.5em;
	background-color: #FFFFFF; 
	border: 2px solid #013F68;
	border-top-width: 0;
	width: 75%;
	z-index: 9999;
}

html>body .dhtml_more_tabs {
	right: 2px;
}

.dhtml_more_tabs div.termContainer {
	float: left;
	padding: 0.8em;
	text-align: left;
	width: 28%;
}
	
.dhtml_more_tabs h4 {
	font-size: 1.06em;
	margin: 0;
	padding: 0;
	font-weight: normal;
}

.dhtml_more_tabs  ul {
	list-style: none;
	margin: 0;
	padding: 0;	
}

.dhtml_more_tabs  li {
	margin-bottom: 0.4em; 
	line-height: 1.1em;
}

.dhtml_more_tabs div:first-child {
	border-left: none;
}

.dhtml_more_tabs a:link, .dhtml_more_tabs a:visited, .dhtml_more_tabs active{
	color: #35b;
	text-decoration: underline !important;
}

.dhtml_more_tabs a:hover {
	color: #53b;
	text-decoration: underline !important;
}

#more_tabs_instr  {
	color: #333;
	font-size: 1em;
	margin: 0.4em 0.8em 0.8em;
	padding-top: 0.4em;
	clear: both;
	border-top: 1px solid #CCC;
	text-align: left;
	line-height: 1.1em;
}

#portalMask {
	background-color: #EEEEEE; 
	position: absolute;
	z-index: 9000;
	top:0;
	left:0;
	filter:alpha(opacity=50);
	opacity: 0.50;
	-moz-opacity: 0.50;
}


/*block in case need to display any decorative element above or below the .tabHolder block*/
#navBottom{
	display: none;
}

/*PART 5 - SITE TOOL LINKS  - children of #toolMenuWrap	*/
/*wrapper for ul that lists the links to tools*/
#toolMenu, #subSites{
	width: 12em;
	padding: 0;
	margin:  0;
	font-size: 80%;
	color: #000;
}

#toolMenu ul, #subSites ul{
	width:auto;
	list-style: none;
	margin: 0;
	padding-right: 0;
}

#toolMenu li, #subSites li{

	margin: 0;
	width: auto;
	padding: 0;
	border: 1px solid #fff;
	text-align: right;
}


#toolMenu li span, #subSites li span{

}



#toolMenu li a:link,#toolMenu li a,
#subSites li a:link,#subSites li a{    
	display: block;
	text-decoration: none;
	color: #448833;
	padding: 2px 0px 2px 4px;

}
#toolMenu li a:hover,#subSites li a:hover{
	text-decoration: underline;
}

#toolMenu li.selectedTool span,
#subSites li a:selected{
	display: block;
	text-decoration: none;
	padding: 2px 0px 2px 4px;
	color: #BB7711;
}

#subSites{
    margin-top:2em;
}
.course #toolMenu li.selectedTool span{
	color: #E8B900;
}

.project #toolMenu li.selectedTool span{
	color: #b71;
}

.workspace #toolMenu li.selectedTool span{
	color: #BB7711;
}

#toolMenu .hidden { 
	font-style: italic;
	filter: alpha(opacity=70); /* opacity for IE */
	opacity: 0.7; /* CSS3 standard */
} 

/*
set of special selectors when a user has chosen to minimize navigation and maximize real
page estate
*/
#toggleToolMax, #toggleNormal{
	height:16px;
	border:1px solid #fff;
}
.toggleToolstoggleNav img#toggleToolMax{
    background:#fff url(images/toggler-back.png) 0 0 no-repeat
 }
.toggleToolstoggleNav #toggleNormal{
	background:#fff url(images/toggler-back.png) -16px 0 no-repeat
 }
.toggleNav #toggleToolMax{
	background:#fff url(images/toggler-back.png) -32px 0 no-repeat
 }
.toggleNav #toggleNormal{
	background:#fff url(images/toggler-back.png) -48px 0 no-repeat
 }  
 .toggleTools #toggleToolMax{
	background:#fff url(images/toggler-back.png) -64px 0 no-repeat
 }
.toggleTools #toggleNormal{
	background:#fff url(images/toggler-back.png) -80px 0 no-repeat
}
.sakaiMinimizePageNavigation #toolMenuWrap, .sakaiMinimizePageNavigation #toolMenuWrap:hover{
	width:0px;
	margin-right:0;
	border-right:none;
}
.sakaiMinimizePageNavigation #toolMenuWrap li,.sakaiMinimizePageNavigation #worksiteLogo, .sakaiMinimizePageNavigation #presenceWrapper{
    position:absolute;
    top:-1000px;
    left:-1000px;
}
.sakaiMinimizePageNavigation #content{
	padding-right:2em;
	margin-right:0;
}
.sakaiMinimizeSiteNavigation #siteNavWrapper{
	display:none
}
.sakaiMinimizeSiteNavigation #headerMax{
	padding:0;
	margin:0; 
}

#toolMenuWrap #toggler {
	display:block;
	float:left;
}
.sakaiMinimizePageNavigation #toggler {
	display:block;
	float:right !important;
}

/*PART 6 - SITE AFFILIATION,SITE TYPE/STATUS AND PRESENCE - children of #toolMenuWrap	*/
/*site logo wrapper*/
#worksiteLogo{
	width: 9.7em;
	height: auto;
	overflow: hidden;
	display: block;
}

/*site logo image - Sakai may output,depending on installation,an image here based in site affiliation. Site owner may also point to a url - overriding the Sakai provided image*/
#worksiteLogo img{
	display: block;
	margin: .5em auto;
}

/*wrapper for the string that Sakai will output based on site type (ie. project,course) this is open ended and institution specific*/
#siteType{
	display: none;
}

/*wrapper for the string that Sakai will output based on site status when status is "Unpublished"*/
#siteStatus{
	text-transform: capitalize;
	text-align: left;
	background: url(images/warn.gif) .2em center no-repeat #fff;
	border: 1px solid  #aaa;
	clear: both;
	color: #aaa;	
	font-size: 	small;
	margin: 5px 2px 15px 2px;
	padding: 3px 3px 3px 2em;
}

/*wrapper for all elements of presence display */
#presenceWrapper{
	width: 100%;
	margin-top: .5em;
}

/*wrapper for title of iframe ("Users present")*/
#presenceTitle{
	font-size: .7em;
	/*text-align: left;*/text-align: right;
	margin-left: .5em;
}

/*of presence iframe*/
#presenceIframe{
	height: 100px;
	border-top:1px solid #aaa;
	margin: .3em;
	width: 100%;
	overflow:auto
}

/*PART 7 - PORTLETS - children of #content*/
/*a page may display portlets in one column or two columns - the next three id selectors address the three possiblities - sole child of column is the .portlet */
#col1{
	padding-right: .5em;
}

#col1of2{
	width: 49%;
	float: left;
	margin: 0;
}

#col2of2{
	width: 50%;
	float: right;
}

/*wrapper class for portlets - decorative -  contains two wrapper block children:.portletTitleWrap and  .portletMainWrap*/
.portlet{
}

/*.portletTitleWrap and .portletTitleWrap are wrappers for the iframes holding the tool title documents,
below they are contextually defined depending on the column as an example,as you may want to adjust the widths accordingly*/ 
#col1 .portletTitleWrap{
	width: 99%;
	border-top: 1px solid #BB7711;
}

#col1 .portletMainWrap{
	width: 99%;
}

#col1of2 .portletTitleWrap,#col2of2 .portletTitleWrap{
	width: 98.5%;
	border-top: 1px solid #BB7711;
}

#col1of2 .portletMainWrap,#col2of2 .portletMainWrap{
	width: 98.5%;
	margin-bottom: .5em;
}

.portletTitle{
	width: 80%;
	background: #BB7711 url(images/blue_tabcap_r.gif) bottom right no-repeat;
}

.portletTitle .title img{
	margin:0;
	border:none;
	vertical-align: middle;
	width:18px !important;
	height:18px

}

.portletTitle .title{
	padding: 2px 8px 4px 2px;
	height:.9em;
	/*float: left;*/float: right;
	width:90%;
	color: #000;
}

.portletTitle .title a{
	background: url(images/reload.gif) center left no-repeat;
	text-decoration: none;
	height:16px;
	display:block;
	/*float:left;*/float:right;
}

.portletTitle .action{
	padding: 2px 8px 4px 2px;
	/*text-align: right;*/text-align: left;
	vertical-align: middle;
}


.portletTitle .title h2{
	display: inline;
	margin: 0 0 0 .2em;
	padding: 0;
	vertical-align: middle;
	color: #fff;
	font-family: Verdana,Geneva,Arial,Helvetica,sans-serif;
	font-weight: normal;
	font-size: .8em;
}


.portletTitle .title a:hover, .portletTitle .title a:focus{
	background: url(images/reload_h.gif) center left no-repeat;
}

.portletTitle .title a:focus,.portletTitle .action a:focus{ 
	outline:black dotted thin; 
}

.portletTitle .action img{
	margin: 0;
	vertical-align: middle;
	width:18px !important;
	height:18px
}

.portletTitle .action a{
	background: url(images/help.gif) center right no-repeat;
	border:1px solid #b71
}

.portletTitle .action a:hover, .portletTitle .action a:focus{
	background: url(images/help_h.gif) center right no-repeat;
}

.portletTitle .action a#jsr-edit{
        padding:2px;
        background: url(images/page_edit.gif) center right no-repeat;
}

/*iframe for portlet content*/

.portletMainIframe{
	text-align: left;
	margin-bottom: .5em;
	height: auto;
}

/*PART 8 - FOOTER BLOCKS - descendants of #footer TODO - unpack the 3 descendants and make them all children*/
/*wrapper for links going to external sites - links are output as a series  separated via pipes (TODO:make a list already)*/
.footerExtNav{
	padding-top: .5em;
	padding-bottom: .5em;
	background:#eee
}

/*the links displayed inside the wrapper above*/
.footerExtNav a,.footerExtNav A:link,.footerExtNav A:visited{
	color: #000;
	text-decoration: none;
	margin: 1em;
}

.footerExtNav a:hover{
	color: #B81F1D;
	text-decoration: underline;
	margin: 1em;
}

/*a second wrapper - server info,build,etc*/
#footerInfo{
	font-size: xx-small;
	text-align: center;
	clear: both;
	padding-bottom: 1em;
}

#footerInfo img{
	margin-top: .5em;	
	margin-bottom: .5em;
}

/*a third wrapper - reserved for copyright blurbs*/
.sakaiCopyrightInfo{
	color:#000;
}

/*PART 8 - CONVENIENCE*/
/*used to hide various blocks from sighted users that are in the source to help with accessibility*/
.skip{
	display: inline;
	position: absolute;
	top: -999px;
	left: -999px;
	height: 0;

}

/*back to mobile link*/
#mobile-portal-link{
	display:block;
	position:absolute;
	top:0px;
	left:30%;
	background: #0077B5;
	padding:1px 9px 4px 9px;
	-webkit-border-radius:0 0 10px 10px;
}
#mobile-portal-link a,#mobile-portal-link a:visited{
	color:#fff;
	font: normal 120% Verdana, Geneva, Arial, Helvetica, sans-serif;
	text-decoration:none;
}

/* portal messages and alerts styles - not needed
 * if not using tool from
 * https://source.sakaiproject.org/contrib/umich/global-alert/
 */
#portalMessageContainer1_2{
    z-index:3000;
    height:auto;
    position:fixed;
    top:0;
    left:30%;
    right:30%;
}
#portalMessageContainer3{
    z-index:3000;
    height:auto;
    position:fixed;
    bottom:0;
    left:30%;
    right:30%;
}
.portalMessage{
    padding:10px;
    color:#fff;
    margin-top:1px;
    position:relative;
    font-weight:bold;
	-moz-box-shadow: 3px 3px 4px #000;
	-webkit-box-shadow: 3px 3px 4px #000;
	box-shadow: 3px 3px 4px #000;
	-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#000000')";
	filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#000000');
}
.firstPortalMessage{
    -webkit-border-top-left-radius: 10px;
    -webkit-border-top-right-radius: 10px;
    -moz-border-radius-topleft: 10px;
    -moz-border-radius-topright: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.lastPortalMessage{
    -webkit-border-bottom-right-radius: 10px;
    -webkit-border-bottom-left-radius: 10px;
    -moz-border-radius-bottomright: 10px;
    -moz-border-radius-bottomleft: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;

}    
.portalMessagePriority1{
    background:#c00;
}
.portalMessagePriority2{
    background:#888;
    padding:10px 25px 10px 10px;
}
.portalMessagePriority3{
    background:green;
    padding:10px 25px 10px 10px;
}
.portalMessage .dismissLink{
    display:block;
    padding:0 4px;
    position:absolute;
    top:3px;
    right:3px;
    cursor:pointer;
    font-size:130%;
    color:#fff;
}
