/**
 * Copyright (c) 2008-2010 The Sakai Foundation
 *
 * Licensed under the Educational Community License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *             http://www.osedu.org/licenses/ECL-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */

/* Profile2 styles */

#pageWrapper { 
	width: 750px;
	position: relative;
	left: 5px;
	top: 5px;
	min-height: 500px; /*iframe will be tiny if there is no content in their profile */
}

#leftPanel {
	position:absolute;
	top: 0;
	left:0;
	width:200px;
}

#mainPanel {
	position: relative;
	top: 0;
	left: 200px;
	width: 500px;
	padding-left: 20px;
}

#rightPanel {
	position:absolute;
	width: 50px;
	left: 700px;
	top: 0;
}

div#footer {
	width: 750px;
	clear: both;
	position: relative;
}


#fullWidth {
	float:left;
	margin-left: 5px;
	margin-right: 165px;
	padding: 8px;
}

#leftPanel, #rightPanel, #mainPanel, #fullWidth { 
	/*padding-bottom: 32767px;
	margin-bottom: -32767px;*/

}



#myPhoto {
	max-width: 200px;
	position: relative;	
	/* centre the image inside this div */
	text-align:center;
    margin-top:0;
    margin-bottom:0;
    padding:0;
    /* alternatively, 
    display:block;
   	margin:auto;
   	*/
    /* end of centreing the image */
}

#myPhoto img {
	max-width: 200px;
	width: 200px;
	background-color: transparent;
	text-align:center;
}

.edit-image-button {
	position:absolute;
	right:0;
	top:0;
	/*height:20px;*/
	background-color: #ffffff;
	text-decoration: none;
	font-size: x-small;
	padding-left: 24px;
	padding-bottom: 4px;
	padding-top: 4px;
	padding-right: 2px;
	margin-top: 0;
	margin-right: 0;
	background-repeat: no-repeat;
	background-position: 4px center;
	background-image: url("/library/image/silk/picture_edit.png");
	border-top: thin solid #09c;
	border-right: thin solid #09c;
	border-bottom: thin solid #09c;
	border-left: thin solid #09c;
}

.edit-image-button:hover {
	background-color: #ffff77;
}


.edit-button {
	float:right;
	clear: none;
	display:block;
	text-decoration: none;
	font-size: x-small;
	padding-left: 24px;
	padding-bottom: 4px;
	padding-top: 4px; 
	padding-right: 2px;
	margin-top: 0;
	margin-right: 10px;
	background-repeat: no-repeat;
	background-position: 4px center;
	background-image: url("/library/image/silk/pencil.png");
	border-left: thin solid #09c;
	border-right: thin solid #09c;
	border-bottom: thin solid #09c;
}

.edit-button:hover {
	background-color: #ffff77;
}


.new-items-count {
	padding-left: 4px;
	font-weight: bold;
}


/* profile heading styles */
#profileHeading {
	margin-left: -10px;
}

#profileHeadingName {
	font-size: 140%;
	font-weight: bold;
}




/* generic styles */
.tiny {
	font-size: 70%;
}

.small {
	font-size: 90%;
}

.right {
	float:right;
}
.instruction {
	color: #777777;
}
.clear {
	clear:both;
}
h2 {
	margin-top: 0;
}

/* page navigation links */
#page-links a:link,
#page-links a:visited {
}

.icon {
	background-position: center left;
    background-repeat: no-repeat;
    padding-left: 18px;
}

/* icons */
.locked {
	background-image: url(/library/image/silk/lock.png);
}
.unlocked {
	background-image: url(/library/image/silk/lock_open.png);
}
.profile {
	background-image: url(/library/image/silk/vcard.png);
}
.picture {
	background-image: url(/library/image/silk/picture.png);
}
.pictures {
	background-image: url(/library/image/silk/pictures.png);
}
.picture-add {
	background-image: url(/library/image/silk/picture_add.png);
}
.connections {
	background-image: url(/library/image/silk/group.png);
}
.connection-add {
	background-image: url(/library/image/silk/user_add.png);
}
.connection-delete {
	background-image: url(/library/image/silk/user_delete.png);
}
.connection-confirm {
	background-image: url(/library/image/silk/accept.png);
}
.connection-ignore {
	background-image: url(/library/image/silk/delete.png);
}
.connection-request {
	background-image: url(/library/image/silk/group_gear.png);
}
.connection-confirmed {
	background-image: url(/library/image/silk/group_link.png);
}
.search {
	background-image: url(/library/image/silk/magnifier.png);
}
.privacy {
	background-image: url(/library/image/silk/lock.png);
}
.preferences {
	background-image: url(/library/image/silk/cog.png);
}
.messages {
	background-image: url(/library/image/silk/comments.png);
}
.message {
	background-image: url(/library/image/silk/comment.png);
}
.twitter {
	background-image: url(../images/twitter.png);
}
.email-link {
	background-image: url(/library/image/silk/email_link.png);
}
.website-link {
	background-image: url(/library/image/silk/world_link.png);
}
.google {
	background-image: url(../images/google.png);
}
.facebook {
	background-image: url(../images/facebook.png);
}
.linkedin {
	background-image: url(../images/linkedin.png);
}
.myspace {
	background-image: url(../images/myspace.png);
}

/* sideLink styles */
#sideLink ul {
	list-style-type:none !important;
}

#sideLink li {
	border-bottom-style: solid;
	border-bottom-color: #09c;
	border-bottom-width: thin;
	margin-left: -40px;
	padding-left: 5px;
	list-style-type: none !important;
}

#sideLink li a {
	text-decoration: none !important;
	display:block; /* makes whole li clickable */
	padding-top: 2px;
	padding-bottom: 2px;
}
#sideLink li span {
	padding-top: 2px;
	padding-bottom: 2px;
	display:block;
	margin: 0;
}

/** workaround for disabled link and extra markup */
#sideLink li span>span {
	margin: 0;
	padding: 0;
}


#sideLink li:hover {
	background-color: #D1ECF6;
}

#sideLink li#selected {
	background-color: #D1ECF6;
}
  
  
  
  
  
/* side-widget styles */
.side-widget {
	
	
}

.side-widget-heading {
	margin-top: 4px;
	border-top: 1px solid #09c;
	border-right: 1px solid #d0d0df;
	padding-top: 2px;
	padding-bottom: 2px;
	padding-left: 2px;
	display:block;
	font-weight: bold;
	background-color: #B8D5F8;
	word-wrap: break-word;
}
	
.side-widget-content {
	display:block;	
	margin-bottom: 4px;
}

.side-widget-labels {
	display: block;
	position: relative;
	/*border-bottom: thin solid #d0d0df;*/
	height: 1.0em;
	padding-top: 2px;
	margin-bottom: 2px;
}

.side-widget-item-count, .side-widget-more-link  {
	font-size: 70%;
	position: absolute;
}

.side-widget-item-count {
   	left: 0;
   	padding-left: 2px;
   	width: 40%;
}

.side-widget-more-link {
   right: 0;
   text-align: right; /* depends on element width */
   padding-right: 2px;
   width: 60%;
}


/* kudos styles */
.kudos-wrapper {
	display: block;
	text-align: center;
	margin-top: 4px;
}

.kudos-rating {
	font-size: 120%;
	font-weight: bold;
}

.kudos-icon-left {
}

.kudos-icon-right {
}


/* mainSection styles */
.mainSection {
	padding-bottom: 10px;
	display: block;
}

.mainSectionHeading {
	display:block;
	font-weight: bold;
	border-bottom: thin solid #09c;
	margin-bottom: 0;
	margin-top: 8px;
	padding-bottom: 0;
	width: 100%;
}

.mainSectionContent {
	padding-top: 5px;
	padding-right: 80px; /* keep it in a block and out of the edit button's way */
}

.mainSectionContentForm {
}



/* profile and preferences information sections */
.profileContent, preferencesContent{
	padding-top: 2px;
	padding-bottom: 2px;
	font-size: 90%;
	border: none;
}

.profileContent {
	margin-right: 20px; /* space for the closebutton, if any */
}

.preferencesContent {
	margin-top: 6px;
	margin-bottom: 12px;
}

.profileContent .label,
.preferencesContent .label {
	width: 120px;
	float: left;
	color: #5D5D5D;
	/*color: #444444;*/
	vertical-align: top;
	font-weight: normal;
	padding-top: 4px;
	padding-bottom: 4px;
}

.preferencesContent .label {
	width: 170px;
}

.label a {
	padding-top: 2px;
	padding-bottom: 2px;
}

.profileContent .content,
.preferencesContent .content {
	padding-left: 2px;
	/*padding-right: 40px;*/
	vertical-align: top;
	
	word-break:break-all; 
	word-wrap:break-word;
}

.preferencesContent .item  {
	padding-left: 4px;
	padding-right: 4px;
	text-align: center;
	font-size: 80%;
}

.profileContent .toolTip,
.preferencesContent .toolTip {
	padding-left: 8px;
	vertical-align: top;
	/*padding-right: 40px;*/
	
}


.profileForm, .form-rounded {
	background-color: #e9edff;
	border: 1px solid #d0d0df;
}

.profileForm {
}

.form-rounded {
	padding: 4px;
	margin-bottom: 4px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}

.profileFormButtons {
	margin-top: 10px;
}

.modalWindowButtons {
	margin-top: 20px;
}

.pageFormButtons {
	margin-top: 10px;
}

.profileFormButtons,
.modalWindowButtons {
	text-align:center;
}

.profileFormButtons input,
.modalWindowButtons input {
	margin-left: 6px;
	margin-right: 6px;
	
	/*
	background-color:#348DD3;
	border-color:#A3C8E9 #4379C0 #4379C0 #A3C8E9;
	border-style:solid;
	border-width:1px;
	color:#FFFFFF;
	*/
}

.profileFormButtons input[type="submit"],
.modalWindowButtons input[type="submit"] {
	color: rgb(34, 119, 221);
}
	
.grayed {
	background-color:#EEEEEE;
	border-color:#E5E5E5 #AAAAAA #AAAAAA #E5E5E5;
	border-style:solid;
	border-width:1px;
	color:#666666;
}
	



.disabled {
	color: #5D5D5D !important;
}


.status-msg {
	word-wrap: break-word;
}

.statusField {
	color: #5D5D5D;
	border: 1px solid #AAAAAA;
	width: 300px;
}
	

.formInputField,
.formInputArea,
.profileImageUrlInputField,
.form-input-small {
	padding-left: 2px;
	border: 1px solid #AAAAAA;
	margin: .2em;
}

.formInputField {
	width: 210px;
}

.formInputArea {
	width: 300px;
}

.form-input-small {
	width: 80px;
}

.profileImageUrlInputField {
	width: 180px;
}

.formInputField:focus,
.formInputArea:focus,
.profileImageUrlInputField:focus {
	border-color: black;
	background: #ffc;
}

.formInputField.invalid,
.formInputArea.invalid {
    border: 2px solid red;
    color: red;
}

.formInputField.valid
.formInputArea.valid  {
    /*color: green;*/
}

.feedbackLabel {
	display:block;
    font-weight: bold;
}

/* wicket FeedbackPanel but remove the list styles and just make it bold */
.wicket-feedbackpanel-nolist ul {
	list-style-type: none;
	margin-left: 0;
	padding-left: 0;
	font-weight: bold;
}


.formSectionHeading {
	/* PRFL-372 div > h4, added color
	font-weight: bold;
	padding-top: 2px;
	*/
	color: #333;
	padding-left: 0;
}

.formSectionText {
	font-weight: normal;
	font-size: 0.9em;
	padding-left: 2px;
	margin-top: 4px;
	font-style: italic;	
}


/* Style for wicket's feedback message panel */
.alertMessage ul {
	list-style-type: none !important;
	margin-left: -40px;
	margin-bottom: 0px;
	margin-top: 0px;
}


/* friends feed styles */
#friends-feed-wrapper {
	display: block;
	text-align: center;
}
#friends-feed-wrapper table{
	border: none;
	margin: 0 auto;
	table-layout: fixed;
}
#friends-feed-wrapper table td {
	padding-left: 2px;
	padding-right: 2px;
	margin-left: 1px;
	margin-right: 1px;
	vertical-align: top;
}
	
.friends-feed-item {
	vertical-align: top;
	width: 55px;
	max-width: 55px;
	margin: 1px;
	text-align: center;
	word-wrap: break-word;
	white-space: normal;
}
	
.friends-feed-item-photo {
	max-width: 55px;
	width: 55px;
	/* centre the image inside this cell */
	display:block;
   	margin:auto;
   	/* end centreing */
   	cursor: pointer;
}


.friends-feed-item-caption {
	max-width: 55px;
	margin-top: 0;
	font-size: 70%;
	color: #3355BB;
	cursor: pointer;
}

.friends-feed-item-caption:hover {
	color: #33f;
}


/* people list styles */
.connections-wrap, .search-results-wrap {
	/*border: 1px solid red;*/
	border-bottom: 1px solid #d0d0df;
	margin-bottom: 12px;
	width: 520px;
}


.connection, .search-result {
	display:block;
	position: relative;
	left: 0;
	top: 0;
	height: 170px;
	border-left: 1px solid #d0d0df;
	border-right: 1px solid #d0d0df;
	border-top: 1px solid #d0d0df;
	border-collapse: collapse;
	padding-top: 5px;
	padding-left: 5px;
	padding-right: 5px;
	padding-bottom: 5px;
	overflow: hidden; /* to crop bigger pictures that might overhang */
}

.connection:hover, .search-result:hover {
	/*background-color: #ffc;*/
	/*background-color: #FFFFE6;*/
	/*background-color: #fafdff; */
	background-color: #FFFFE6;
}


.connection-img, .search-result-img {
	position: absolute;
	top: 5px;
	left: 5px;
	max-width: 100px;
	border: 1px solid #666666;
	padding: 2px;
}


.connection-info-wrap, .search-result-info-wrap {
	position: absolute;
	top: 5px;
	left: 115px;
	width: 200px;
}


.connection-info-name, .search-result-info-name, wall-item-name {
	display: inline;
	font-weight: bold;
	word-break:break-all;
	word-wrap:break-word;
}

.connection-status-msg, .search-result-status-msg {
	display: block;
	font-size: 90%;
}

.connection-status-date, .search-result-status-date {
	display: block;
	font-size: 70%;
	color: #5D5D5D;
}

.search-connections {
	margin-bottom: 10px;
}

/* action styles */

.connection-actions-wrap, .search-result-actions-wrap {
	position: absolute;
	top: 5px;
	left: 320px;
	width: 250px;
	font-size: 90%;
	padding: 0;
}

.connection-actions, .search-result-actions {
	margin-bottom: 0;
	margin-top: 0;
	margin-left: 0;
	padding-top: 0;
	list-style-type:none !important;
}

.connection-actions li, .search-result-actions li {
	border-bottom-style: solid;
	border-bottom-color: #09c;
	border-bottom-width: thin;
	padding-left: 5px;
	list-style-type: none !important;
	vertical-align: top;
}

.connection-actions li a, .search-result-actions li a {
	text-decoration: none !important;
	display:block; /* makes whole li clickable */
	padding-top: 2px;
	padding-bottom: 2px;
}

.connection-actions li span, .search-result-actions li span {
	padding-top: 2px;
	padding-bottom: 2px;
	display:block;
	margin: 0;
}

/** workaround for disabled link and extra markup */
.connection-actions li span>span, .search-result-actions li span>span {
	margin: 0;
	padding: 0;
}

.connection-actions li:hover, .search-result-actions li:hover {
	background-color: #D1ECF6;
}

.connection-actions li#selected, .search-result-actions li#selected {
	background-color: #D1ECF6;
}

.connection-summary-wrap, .search-result-summary-wrap {
	position: absolute;
	top: 115px;
	left: auto;
	width: 510px;
	height: 50px;
	font-size: 90%;
	padding: 0;
}

.search-result-summary {
	word-wrap:break-word;
}

.connection-action-icon {
	float:right;
	margin-left: 2px;
}

.iconAdd, .iconRemove {
	width:18px;
	height:18px;
	background-repeat: no-repeat;
	background-position: 4px center;
	margin: 0;
	padding: 0;
	vertical-align: middle;
}

.iconAdd {
	background-image: url("/library/image/silk/user_add.png");
}

.iconRemove {
	background-image: url("/library/image/silk/user_delete.png");
}


.connectionStatus {
	color: #5D5D5D;
	font-size: 90%;
}

/* fix this so the image is in the style, NOT in wicket */
.rssLink {
	margin: 0;
	padding: 0;
	/*float: right;*/
	display: inline;
	/*background: url(/library/image/feed.png) center right no-repeat;*/
}

.rssLink img {
	vertical-align: middle;
}







/* overrides cluetip's text color */
#cluetip-inner {
	color: #5D5D5D;
}


/* heading for pages and items */
.header {
	/* PRFL-372 - div > h3, added margin-top
	font-size: 1.1em;
	font-weight: bold;*/
	margin-top: 0;
	border-bottom: thin solid #5D5D5D;
	margin-bottom: 8px;
	padding-bottom: 3px;
	padding-left: 19px;
	width: 500px;
	
}



.results-header, .search-results-header {
	margin-top: 12px;
	font-weight: normal;
}


/* modal window styles (also modalWindowButtons above) */
.modalWindowWrapper {
	display: block;
	position: relative;
	left: 5px;
	top: 5px;
	width: 450px; /* must be smaller than the actual modal window */
	height: 120px;
}
.modalWindowImage {
	position: absolute;
	top: 0;
	left: 0;
	max-width: 100px;
	width: 100px;
	border: 1px solid #666666;
	padding: 2px;
}



.modalWindowMain {
	position: relative;
	top: 0;
	left: 120px;
	width: 300px;
}

.modalWindowText {
	margin-top: 5px;
}

/* style the indicator for form submits that use an IndicatingAjaxButton as the button */
span.wicket-ajax-indicator img { 
	padding-left: 2px; 
	display: inline; 
	white-space: nowrap; 
	vertical-align: middle;
}

/* warning message style for hen editing another person's profile */
.edit-other-warning {
	display:block;
	border: 2px solid #ffcc33;
	background-color: #fff9e6 !important;
	background-image: url(/library/image/silk/error.png) !important;
	padding-top: 2px;
	padding-bottom: 2px;
	padding-right: 10px;
	padding-left: 24px;
	background-position: 4px center;
    background-repeat: no-repeat;
    color: #5D5D5D;
}

/* warning message style for hen editing another person's profile */
.save-failed-error {
	display:block;
	border: 2px solid #ff0000;
	background-color: #FFE8E8 !important;
	background-image: url(/library/image/silk/cancel.png) !important;
	padding-top: 2px;
	padding-bottom: 2px;
	padding-right: 10px;
	padding-left: 24px;
	background-position: 4px center;
    background-repeat: no-repeat;
    color: #5D5D5D;
}




/* autocomplete styling */
div.wicket-aa {
	font-size: 12px;
	background-color: white;
	border-color: #cccccc;
	border-width: 1px;
	border-style: solid;
	margin: 1px 0 0 0;
	text-align:left;
}
 
div.wicket-aa ul {
	list-style:none;
	margin-top: 0 !important;
	margin-bottom: 0 !important;
}

div.wicket-aa li {
	list-style:none;
	margin-left: -40px; /*strip the default margin */
	padding-left: 5px;
	padding-top: 2px;
	padding-bottom: 2px;
}

div.wicket-aa ul li.selected {
	background-color: #ffff77;
}
	
	
/* message threads styles */
.message-thread-list-wrap {
	border-top: 1px solid #d0d0df;
	width: 700px;
}


.message-thread-item {
	display:block;
	position: relative;
	left: 0;
	top: 0;
	border-bottom: 1px solid #d0d0df;
	border-collapse: collapse;
	/*height: 50px;*/ 
	min-height: 50px; /*use min-height rather than fixed height as names might be long and spill over */
	padding-top: 5px;
	padding-left: 5px;
	padding-right: 5px;
	padding-bottom: 5px;
	overflow: hidden; /* to crop bigger pictures that might overhang */
}


.message-thread-item:hover {
	background-color: #FFFFE6;
}

.message-thread-photo-wrap {
	display:table-cell;
	vertical-align:top;	
}

.message-thread-photo{
	float:left;
	max-width: 50px;
	width: 50px;
}


.message-thread-from-wrap, .message-thread-details-wrap {
	display: table-cell;
	overflow:hidden;
	vertical-align: top;
	font-size: 100%;
	padding-left: 10px;
}

.message-thread-from-wrap {
	width: 150px;
}

.message-thread-details-wrap {
}

.message-thread-from-name {
	display: block;
	font-size: 90%;
}

.message-thread-date {
	display: block;
	font-size: 70%;
	color: #5D5D5D;
}

.message-thread-subject {
	display: block;
	font-size: 90%;
}

.message-thread-body {
	display: block;
	font-size: 90%;
	color: #5D5D5D;
}




/* message view styles */
.message-details-wrap {
	margin-top: 10px;
	width: 700px;
	padding-bottom: 10px;
	border-bottom: 1px solid #999999;
	margin-bottom: 1px;
}

.message-subject {
	font-size: 140%;
	font-weight: bold;
	color: #5D5D5D;
}

.message-list-wrap {
	border-top: 1px solid #d0d0df;
	width: 700px;
}

.message-item {
	display:block;
	position: relative;
	left: 0;
	top: 0;
	border-bottom: 1px solid #d0d0df;
	border-collapse: collapse;
	padding-top: 5px;
	padding-left: 5px;
	padding-right: 5px;
	padding-bottom: 5px;
	overflow: hidden; /* to crop bigger pictures that might overhang */
}

.message-item:hover {
}

.message-photo-wrap {
	display:table-cell;
	vertical-align:top;	
}

.message-photo{
	float:left;
	max-width: 55px;
	width: 55px;
}

.message-info-wrap {
	display: table-cell;
	overflow:hidden;
	vertical-align: top;
	font-size: 100%;
	padding-left: 10px;
}

.message-from-wrap {
	display: block;
}

.message-from-name {
	display: inline;
}

.message-date {
	display: inline;
	font-size: 70%;
	color: #5D5D5D;
}



.message-body {
	display: block;
	width: 100%;
	padding-top:5px;
	font-size: 90%;
	color: #5D5D5D;
}

.replyLabel {
	width: 50px;
	float: left;
	color: #5D5D5D;
	vertical-align: top;
	font-weight: normal;
}

.unread-message {
	background-color: #e9edff;
}

.unread-message:hover {
	background-color: #e9edff;
}

.message-panel-buttons {
}

/* gallery-related */

.add-form-item {
	vertical-align: top;
}

.add-form-warning {
	text-align: right;
	padding-right: 10px;
}

.gallery-warning-text {
	font-size: 12px;
	font-weight: bold;
}

.gallery-form {
	position: relative;
}

.gallery-item img {

}

.gallery-image-panel {
	cursor: pointer;
}

.gallery-image-form {
	position: relative;
}

.gallery-image-form img {
	max-width: 575px;
}

/* spacing between gallery images in grid */
.gallery-form td {
	border: 5px;
	border-spacing: 5px;
	padding: 5px;
}
	
/* gallery feed styles */

#gallery-feed {
	display: block;
	text-align: center;
}

#gallery-feed table {
	border: none;
	margin: 0 auto;
	table-layout: fixed;
}

#gallery-feed table td {
	padding-left: 2px;
	padding-right: 2px;
	margin-left: 1px;
	margin-right: 1px;
	vertical-align: top;
}

.gallery-feed-item {
	vertical-align: top;
	width: 55px;
	max-width: 55px;
	margin: 1px;
	text-align: center;
	word-wrap: break-word;
	white-space: normal;
}

.gallery-feed-item img {
	max-width: 55px;
	width: 55px;
	display:block;
   	margin:auto;
}

/* CSS to format the Wicket multi-file upload component */
.wicket-mfu-container {
	padding: 5px;
	margin-top: 3px;
	background-color: transparent;
	border: 1px dotted #5D5D5D;
	font-size: 10px;
}

.wicket-mfu-container div {
	padding: 5px;
	margin-top: 3px;
	margin-bottom: 3px;
}

.wicket-mfu-caption {
	font-weight: bold;
}

.wicket-mfu-container input {
	margin-left: 10px;
	font-size: 10px;
}

/* tabs */
.main-profile-tabpanel .tab-row ul {
	height: 25px;
    margin: 0;
    padding-left: 0px;
    padding-top: 10px;
}

.company-profile-tabpanel .tab-row ul,
.messages-tabpanel .tab-row ul {
    height: 20px;
    margin: 0;
    padding-left: 10px;
}

.main-profile-tabpanel .tab-row li,
.company-profile-tabpanel .tab-row li,
.messages-tabpanel .tab-row li {
    margin: 0;
    padding: 0;
    display: inline;
    list-style-type: none;
}

.main-profile-tabpanel .tab-row a:link,
.main-profile-tabpanel .tab-row a:visited,
.company-profile-tabpanel .tab-row a:link, 
.company-profile-tabpanel .tab-row a:visited,
.messages-tabpanel .tab-row a:link, 
.messages-tabpanel .tab-row a:visited {
    float: left;
    background: #f3f3f3;
    font-size: 12px;
    line-height: 14px;
    font-weight: bold;
    padding: 2px 10px 2px 10px;
    margin-right: 4px;
    border: 1px solid #ccc;
    text-decoration: none;
    color: #666;
}

.main-profile-tabpanel .tab-row li.selected a:link,
main-profile-tabpanel .tab-row a:visited.active,
.company-profile-tabpanel .tab-row li.selected a:link,
.company-profile-tabpanel .tab-row a:visited.active, 
.messages-tabpanel .tab-row li.selected a:link,
.messages-tabpanel .tab-row a:visited.active {
    border-bottom: 1px solid #fff;
    background: #fff;
    color: #000;
}

.main-profile-tabpanel .tab-row a:hover,
.company-profile-tabpanel .tab-row a:hover,
.messages-tabpanel .tab-row a:hover {
    background: #fff;
}

/* wall-related */
.wall-wrap {
	width: 500px;
	font-size: 90%;
}

.wall-item {
	clear:left;
	border-top: 1px solid #d0d0df;
	padding: 5px;
}

.wall-item-img {
	float: left;
	max-width: 35px;
	width: 35px;
	margin-bottom: 5px;
   	cursor: pointer;
}

.wall-item-text-wrap {
	width: 435px;
	margin-left: 50px;
	overflow: hidden;
}

.wall-item-comment-text-wrap {
	width: 380px;
	margin-left: 50px;
	overflow: hidden;
}

.wall-item-comment {
	margin-top: 5px;
	padding-left: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	background-color: #F5F4F2;/*#EFEFED;*//*#ECECE9;*/
}

.wall-item-post-comment {
	width: 435px;
	height: 100px;
	padding-left: 5px;
	padding-top: 5px;
	background-color: #F5F4F2;
}

.wall-comment-input-area {
	width: 415px;
	margin-bottom: 5px;
	font-size: 90%;
}

.wallButtons input[type="submit"] {
	color: rgb(34, 119, 221);
}

.wall-item-details {

}

.wall-item-date {
	color: #AAADBA;
}

.wall-item-actions-wrap {
	float: right;
}

.wall-item-action-icon {
	float:right;
	margin-left: 2px;
}

.wall-post-form {
	padding-top: 5px;
	padding-bottom: 5px;
}

.wall-post-container {
	height: 150px;
	padding-bottom: 5px;
}

.wall-post-input-area {
	width: 492px; /* TinyMCE control adds 8px */
}

.wall-post-button {
	margin-top: 5px;
}

/* confirmed friends button form */
.confirmed-friends-button-form {
	margin-bottom: 5px;
}

/* create worksite panel */
.create-worksite-panel {
	width: 500px;
	height: 250px;
	padding: 5px;
	margin-left: auto;
	margin-right: auto;
}

/* close button */
.closebutton {
	float: right;
	clear: none;
	text-align: right;
}
.closebutton:hover {
	background-color: #ffcccc;
}


/* accessibility */
.accessibility-label {
    position: absolute; 
    left: -999em; 
    width: 1em; 
    overflow: hidden; 
}

.text-counter {
	color: #999999;
	font-size: 1.5em;
	font-weight: bolder;
	float:right;
}

/* disabled nav link */
.current-tab {
	color: #5D5D5D;
	margin-right: 1em;
	display: inline-block;
}

.pager {
	margin-top: 10px;
}

/* visible to screen reader only */
.offscreen {
	position: absolute !important;
	clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
	clip: rect(1px, 1px, 1px, 1px);
}
