.blocked {
    opacity: 0.2;
    filter: alpha( opacity = 20);
	cursor:text !important;
	outline:none;
}
.blocked img {
    filter: alpha( opacity = 20);
}

.buttonlike{
   color: #ffffff;
   background-color: #222222;
   padding: 5px 10px 5px 10px;
   width: 100px;
}

.hiddenlike{
   color: #ffffff;
   background-color: #444444;
   padding: 5px 10px 5px 10px;
   width: 100px;
}

.layoutReorderer-container {
    width:95%;
    margin: 0 auto;
    overflow:auto;
    
}
 

.layoutReorderer-container:focus{
    outline: none; /* overrides fss-reset.css */
}

.layoutReorderer-module,
.layoutReorderer-locked  {
    margin: 5px;
    background-color: #fff;
}

.layoutReorderer-module-dragbar {
    /* dragbar is the bar on top of each module */
    cursor: move;
    height: 20px;
    padding:3px 5px;    
    margin:0;
    outline:1px solid #555;
    color:#000;
}
.colTitle h4{
     padding:5px 0;
     color:#000
     background:#fff
 }
.colTitle {
     background-color:#fff;
     margin:-18px -5px 10px -5px;
     
 }
.layoutReorderer-locked .layoutReorderer-module-dragbar {
    /* Locked module */
    height: 20px;
    padding:3px 5px;
    cursor: default;
    outline:none;
    background: #eee url("/library/image/silk/lock.png")  99% 50% no-repeat;
}

/* 
 * module-content is the box below the dragbar, which contains the
 * actual content of the module
 */
.layoutReorderer-module-content {
    padding: 6px;
	width: 95%;
    overflow: auto;
}

.layoutReorderer-module-content img {
    border: 1px solid #afafaf;
    float:left;
    margin-right: 10px;
    width: 30%;
}
	
.layoutReorderer-movable-hover, .layoutReorderer-movable-selected{
    outline: 1px solid #000;
}

.layoutReorderer-list-emphasis {
    font-weight: bold;
}

/**
 * Interaction styling.
 */

.layoutReorderer-avatar {
    background-color:#9fff9f;
    outline: 2px solid #000;
    opacity: 0.5;
    filter: alpha(opacity=50); /* ie opacity fix */
}
.layoutReorderer-avatar .layoutReorderer-module-dragbar, 
.layoutReorderer-avatar .layoutReorderer-module-content {
    /* hide contents of the module's avatar, while dragging. */
    visibility: hidden;
}

.layoutReorderer-movable-dragging {
	margin: 6px 2px 6px 12px;
}

.layoutReorderer-movable-mousedrag {
    /* hide the original module while being dragged. */
    display:none;
}

.layoutReorderer-dropMarker {
    background: #9f9 url("/library/image/silk/arrow_right.png")  1% 50% no-repeat;
    height: 20px;
    padding: 0 0 0 0;
    margin-left: 1em;
    margin-right: 1em;
}

.layoutReorderer-dropWarning {
    border: 3px solid black;
    background-color: #ffffff;

/*
    background-image: url('../images/info.png');

*/
    background-repeat: no-repeat;
    background-position: left center;
    display: none;
    padding: 5px 30px;
    z-index: 10;
    width:250px;
}

.col1, .col2, .col3{
    width:30%;
    float:left;
    margin:0 5px;
    padding:5px;
    min-height:50px;
    background:#eee
}